<section class="contact-ways">
	
	<!-- Section intro -->
	<div class="section-intro">
		<div class="container">
			<h2 class="h2 title"><%= __("contact_ways.title"); %></h2>
			<p><%= __("contact_ways.intro"); %></p>
		</div>
	</div>
	<!-- End section intro -->

	<!-- Ways -->
	<div class="ways">
		
		<!-- Item -->
		<a href="javascript:void(0);" class="item contact-us">
			<div class="bg"></div>
			<span><%= __("contact_ways.ways.item_1"); %> <i class="fa fa-arrow-right"></i></span>
		</a>
		<!-- End item -->

		<!-- Item -->
		<a href="javascript:void(0);" class="item join-us">
			<div class="bg"></div>
			<span><%= __("contact_ways.ways.item_2"); %> <i class="fa fa-arrow-right"></i></span>
		</a>
		<!-- End item -->

	</div>
	<!-- End ways -->
	
</section>