<title><% if(pageTitle){ %> <%= pageTitle + ' | ' +  siteTitle %> <% } else { %> <%= siteTitle %> <% } %></title>
<meta charset="UTF-8">
<meta name="description" content="Una agencia creativa digital, enfocada a la generación de experiencias duraderas entre usuarios y marcas." />
<meta name="keywords" content="Hydra, Lab, Studio, Creative, Agency" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-194x194.png" sizes="194x194">
<link rel="manifest" href="/assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#FFFFFF">

<!-- IE HTML5 -->
<!--[if lt IE 9]>
<script src="/assets/js/vendor/html5.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="/assets/js/vendor/modernizr.js"></script>

<!-- CSS -->
<link href="/assets/css/vendor/jquery.fancybox.css" rel="stylesheet" media="all" />
<link href="/assets/css/application.css" rel="stylesheet" media="all" />

<% if(env !== 'production') { %>
	
	<!-- Livereload -->
	<script src="//localhost:35729/livereload.js"></script>
	
<% } %>