<header id="header">        
	<div class="container">   

		<!-- Logo -->
		<div class="logo">
			<a href="<%= __("general.menu.home.slug"); %>" title="<%= __("general.project_name"); %>"><img src="/assets/img/logos/hydralab-top.svg" alt="<%= __("general.project_name"); %>"></a>
		</div>
		<!-- End logo -->                 

		<!-- Button menu -->
		<a href="javascript:void(0);" class="btn-menu"><img src="/assets/img/icons/btn-menu.svg" alt="<%= __("general.menu.title"); %>"></a>
		<!-- End button menu -->
		
	</div>
</header>