<div class="top-menu">						
	<div class="container">
		<a href="javascript:void(0);" class="btn-close-menu"><img src="/assets/img/icons/close.svg" alt="Cerrar"></a>
		<div class="row display-as-table">
			<div class="col-6">
				
				<!-- Menu -->
				<nav class="menu">
					<ul>
						<li><a href="<%= __("general.menu.home.slug"); %>" <%if (page === 'home') { %>class="active"<% } %>><span></span><%= __("general.menu.home.name"); %></a></li>
						<li><a href="<%= __("general.menu.essence.slug"); %>" <%if (page === 'essence') { %>class="active"<% } %>><span></span><%= __("general.menu.essence.name"); %></a></li>
						<li><a href="<%= __("general.menu.services.slug"); %>" <%if (page === 'services') { %>class="active"<% } %>><span></span><%= __("general.menu.services.name"); %></a></li>
						<li><a href="javascript:void(0);" <%if (page === 'projects') { %>class="active"<% } %>><span></span><%= __("general.menu.projects.name"); %></a></li>
						<li><a href="javascript:void(0);" <%if (page === 'blog') { %>class="active"<% } %>><span></span><%= __("general.menu.blog.name"); %></a></li>
						<li><a href="javascript:void(0);" <%if (page === 'contact') { %>class="active"<% } %>><span></span><%= __("general.menu.contact.name"); %></a></li>
						<li><a href="/lang/es"><%= __("general.menu.lang.esp"); %></a> | <a href="/lang/en"><%= __("general.menu.lang.eng"); %></a></li>
					</ul>
				</nav>
				<!-- End menu -->

			</div>
			<div class="col-6">
				
				<!-- Contact us -->
				<div class="contact-us">
					
					<!-- Topic -->
					<div class="topic">
						<%- __("general.top_contact_us.greeting"); %>
						<%- __("general.top_contact_us.address"); %>
					</div>
					<!-- End topic -->

					<!-- Topic -->
					<div class="topic">
						<%- __("general.top_contact_us.socialize"); %>						
						<div class="social-links">
							<nav>
								<ul>
									<li>
										<a href="https://www.facebook.com/hydralab.agency" target="_blank" class="fb track-ga-event" data-category="Redes Sociales" data-action="Click al icono Facebook" data-label="Botón Facebook">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 200 231" enable-background="new 0 0 200 231" xml:space="preserve">
												<polygon class="border" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10" points="0.8,60.2 100,4.8 199.2,60.2 199.2,170.8 100,226.2 0.8,170.8"></polygon>
												<polygon class="bg" fill-rule="evenodd" clip-rule="evenodd" points="1,60.2 100,4.8 199,60.2 199,170.8 100,226.2 1,170.8"></polygon>
												<path class="icon" d="M88.078 87.931c0 2.3 0 12.4 0 12.391H79v15.152h9.078V160.5h18.648v-45.025h12.514 c0 0 1.172-7.265 1.739-15.209c-1.629 0-14.183 0-14.183 0s0-8.815 0-10.36c0-1.548 2.033-3.631 4.043-3.631c2.006 0 6.2 0 10.2 0 c0-2.063 0-9.191 0-15.774c-5.234 0-11.188 0-13.814 0C87.617 70.5 88.1 85.7 88.1 87.931z"></path>
											</svg>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/hydra_lab" target="_blank" class="tw track-ga-event" data-category="Redes Sociales" data-action="Click al icono Twitter" data-label="Botón Twitter">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 200 231" enable-background="new 0 0 200 231" xml:space="preserve">
												<polygon class="border" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10" points="0.8,60.2 100,4.8 199.2,60.2 199.2,170.8 100,226.2 0.8,170.8"></polygon>
												<polygon class="bg" fill-rule="evenodd" clip-rule="evenodd" points="1,60.2 100,4.8 199,60.2 199,170.8 100,226.2 1,170.8"></polygon>
												<path class="icon" d="M134.805 112.064c5.055-0.417 8.482-2.715 9.803-5.833 c-1.824 1.12-7.484 2.341-10.609 1.178c-0.154-0.734-0.324-1.432-0.492-2.062c-2.383-8.746-10.537-15.792-19.082-14.941 c0.691-0.279 1.393-0.539 2.092-0.772c0.939-0.337 6.459-1.235 5.59-3.183c-0.734-1.713-7.475 1.295-8.744 1.7 c1.676-0.63 4.447-1.714 4.744-3.64c-2.568 0.352-5.088 1.566-7.035 3.331c0.703-0.757 1.236-1.679 1.35-2.672 c-6.85 4.374-10.85 13.193-14.086 21.749c-2.543-2.463-4.795-4.403-6.816-5.48c-5.67-3.041-12.449-6.213-23.092-10.164 c-0.326 3.5 1.7 8.2 7.7 11.316c-1.291-0.173-3.65 0.213-5.539 0.665c0.77 4 3.3 7.4 10.1 9 c-3.107 0.205-4.713 0.912-6.168 2.436c1.414 2.8 4.9 6.1 11.1 5.429c-6.904 2.977-2.814 8.5 2.8 7.7 c-9.586 9.902-24.701 9.176-33.381 0.894c22.662 30.9 71.9 18.3 79.262-11.481c5.5 0 8.734-1.905 10.738-4.057 C141.832 113.6 137.2 113.1 134.8 112.064z"></path>
											</svg>
										</a>
									</li>
									<li>
										<a href="https://instagram.com/hydra_lab/" target="_blank" class="ig track-ga-event" data-category="Redes Sociales" data-action="Click al icono Instagram" data-label="Botón Instagram">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 200 231" enable-background="new 0 0 200 231" xml:space="preserve">
												<polygon class="border" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10" points="0.8,60.2 100,4.8 199.2,60.2 199.2,170.8 100,226.2 0.8,170.8"></polygon>
												<polygon class="bg" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="1,60.2 100,4.8 199,60.2 199,170.8 100,226.2 1,170.8"></polygon>
												<path class="icon" d="M71.093 77.626h57.817c5.492 0 10 4.4 10 9.723v56.307c0 5.347-4.491 9.718-9.983 9.718H71.093 c-5.493 0-9.987-4.371-9.987-9.718V87.349C61.106 82 65.6 77.6 71.1 77.626L71.093 77.626z M117.773 86 c-1.929 0-3.502 1.539-3.502 3.416v8.159c0 1.9 1.6 3.4 3.5 3.414h8.793c1.924 0 3.5-1.536 3.5-3.414v-8.159 c0-1.877-1.576-3.416-3.5-3.416H117.773L117.773 86.039z M130.1 109.659h-6.843c0.647 2.1 1 4.2 1 6.5 c0 12.595-10.828 22.812-24.182 22.812c-13.351 0-24.18-10.217-24.18-22.812c0-2.265 0.354-4.441 1-6.505h-7.14v32.002 c0 1.7 1.4 3 3.1 3.005h54.168c1.702 0 3.089-1.349 3.089-3.005V109.659L130.1 109.659z M100.073 100.6 c-8.624 0-15.621 6.598-15.621 14.744c0 8.1 7 14.7 15.6 14.741c8.629 0 15.623-6.604 15.623-14.741 C115.696 107.2 108.7 100.6 100.1 100.597L100.073 100.597z"></path>
											</svg>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/hydra_lab" target="_blank" class="ln track-ga-event" data-category="Redes Sociales" data-action="Click al icono LinkedIn" data-label="Botón LinkedIn">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 200 231" enable-background="new 0 0 200 231" xml:space="preserve">
												<polygon class="border" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10" points="0.8,60.2 100,4.8 199.2,60.2 199.2,170.8 100,226.2 0.8,170.8"></polygon>
												<polygon class="bg" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="1,60.2 100,4.8 199,60.2 199,170.8 100,226.2 1,170.8"></polygon>
												<path class="icon" d="M138.087 122.732v28.162h-16.326v-26.275c0-6.602-2.362-11.105-8.271-11.105 c-4.512 0-7.196 3.036-8.378 5.973c-0.43 1.05-0.541 2.511-0.541 3.98v27.428H88.24c0 0 0.22-44.503 0-49.113h16.33v6.961 c-0.033 0.052-0.076 0.108-0.107 0.159h0.107v-0.159c2.169-3.341 6.044-8.115 14.716-8.115 C130.033 100.6 138.1 107.6 138.1 122.732z M71.155 78.105c-5.587 0-9.242 3.665-9.242 8.5 c0 4.7 3.5 8.5 9 8.489h0.109c5.695 0 9.237-3.774 9.237-8.489C80.178 81.8 76.7 78.1 71.2 78.105z M62.884 150.895h16.325v-49.113H62.884V150.895z"></path>
											</svg>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- End topic -->

				</div>
				<!-- End contact us -->

			</div>
		</div>
	</div>
</div>