//
// _variables.scss
//
// It reflects all variables used in entire site
//

//
// -------------------------
// @section Colors
// @info    All about colors
// -------------------------
//
// Common
$black:				#000 !default;
$white:				#FFF !default;
$red:					#F00 !default;
$green:				#090 !default;
$orange:			#EF7D00 !default;

// Secondary
$mine-shaft:			#3F3F3F !default;
$dove-gray:				#626262 !default;
$dusty-gray:			#999 !default;
$silver:					#CCC !default;
$boulder:					#777 !default;

// Social
$fb-color:			#3B5998 !default;
$tw-color:			#00ACED !default;
$ig-color:			#517FA4 !default;
$ln-color:			#007BB6 !default;
$pr-color:			#D01002 !default;

// Project colors
$plum:						#821F6B !default; // Purple - Ex: Headings text color
$alizarin:				#DA1F26 !default;	// Red - Ex: Links color
$dark-violet:			#09020A !default; // Black -  Ex: Body background color
$main-color:      #676F79 !default;

// Scafolding
$body-bg:							$white !default;
$common-color:				#676F79 !default;
$lead-color:					$white !default;
$common-border:				#E4E4E4 !default;

// Gradients
$top-linear-common-bg:					#F7B000 !default;
$bottom-linear-common-bg:				#F49600 !default;

// Triangle
$triangle-common-bg:			$black !default;

// Headings
$headings-color:			$black !default;

// Links
$link-color:						$plum !default;
$link-hover-color:			lighten($link-color, 15%) !default;
$link-lead-color:				$link-color !default;

// Header
$header-bg:				$red !default;

// Menu
$menu-link-color:										$main-color !default;
$menu-link-border-color:						#004273 !default;
$menu-link-bg-hover-color:					lighten($main-color, 5%) !default;
$menu-link-hover-color:							$menu-link-color !default;
$menu-link-active-color:						$main-color !default;
$menu-link-active-bg-color:					$white !default;
$menu-link-highlight-bg-color:			$black !default;

// Footer
$footer-bg:								$white !default;

// Menu
$menu-link-color:							$white !default;
$menu-link-hover-color:				$menu-link-color !default;

// Tables
$table-head-bg:									$white !default;
$table-head-border-color:				$boulder !default;
$table-color:										$main-color !default;
$table-border-color:						#DEDEDE !default;
$table-bg:											$white !default;
$table-bg-hover:								lighten($alizarin, 35%) !default;
$table-bg-active:								$table-bg-hover !default;
$table-bg-zebra:								#F6F6F6 !default;

// Forms
// Fieldset
$fieldset-border:				$common-border !default;
$legend-color:					$dove-gray !default;

// Label
$label-color:				$main-color !default;

// Form control
$form-control-bg:											$white !default;
$form-control-border:									$main-color !default;
$form-control-color:									$main-color !default;
$form-control-icon:										$main-color !default;
$form-control-placeholder-color:			lighten($form-control-color, 0%) !default;
$form-control-shadow-color:						$main-color !default;
$form-control-border-focus:						$main-color !default;
$form-control-disabled-color:					#F6F6F6 !default;
$form-control-icon-bg:								$white !default;

// Form control status
$form-error-color:								#E02128 !default;
$form-control-error-color:				#E02128 !default;
$form-control-error-border:				#E02128 !default;
$form-control-success-color:			$green !default;

// Select
$select-bg:										$white !default;
$select-color:								#B2B0B0 !default;
$select-disabled-color:				$dove-gray !default;
$select-down-arrow-bg:				$white !default;

// Tabs
$tab-common-border:							#F6F6F6 !default;
$tab-top-border:								$white !default;
$tab-hover-bg:									$white !default;
$tab-hover-color:								$main-color !default;
$tab-hover-top-border:					$alizarin !default;
$tab-active-bg:									#F6F6F6 !default;
$tab-active-color:							$main-color !default;
$tab-active-border:							#F6F6F6 !default;
$tab-active-top-border:					$alizarin !default;
$tab-active-bottom-border:			#F6F6F6 !default;
$rs-tab-border:									$main-color !default;
$rs-tab-bg:											$white !default;
$rs-tab-active-bg:							#F6F6F6 !default;
$tabs-content-border:						$tab-common-border !default;

// Buttons
// Menu button
$btn-menu-bg:				$white;

// Common
$btn-active-shadow-color:				$black !default;

// Primary
$btn-primary: (
	color:								$white,
	bg:										$alizarin,
	border:								$alizarin,
	hover-color:					$white,
	hover-bg:							darken($alizarin, 5%),
	hover-border:					darken($alizarin, 5%),
	active-color:					$white,
	active-bg:						darken($alizarin, 10%),
	active-border:				darken($alizarin, 10%),
	disabled-color:				$white,
	disabled-bg:					rgba($alizarin, .5),
	disabled-border:			rgba($alizarin, .5)
) !default;

// Facebook
$btn-fb: (
	color:								$white,
	bg:										$fb-color,
	border:								$fb-color,
	hover-color:					$white,
	hover-bg:							darken($fb-color, 3%),
	hover-border:					darken($fb-color, 3%),
	active-color:					$white,
	active-bg:						darken($fb-color, 5%),
	active-border:				darken($fb-color, 5%),
	disabled-color:				$white,
	disabled-bg:					lighten($fb-color, 20%),
	disabled-border:			lighten($fb-color, 20%)
) !default;

// Twitter
$btn-tw: (
	color:								$white,
	bg:										$tw-color,
	border:								$tw-color,
	hover-color:					$white,
	hover-bg:							darken($tw-color, 3%),
	hover-border:					darken($tw-color, 3%),
	active-color:					$white,
	active-bg:						darken($tw-color, 5%),
	active-border:				darken($tw-color, 5%),
	disabled-color:				$white,
	disabled-bg:					lighten($tw-color, 20%),
	disabled-border:			lighten($tw-color, 20%)
) !default;

// Blockquote
$blockquote-bg:						none !default;
$blockquote-color:				$white !default;
$blockquote-border:				$black !default;

// Breadcrumbs
$breadcrumb-bg:									$white !default;
$breadcrumb-color:							$main-color !default;
$breadcrumb-active-color:				$alizarin !default;

// Alerts
// Error
$alert-error-bg:										$white !default;
$alert-error-color:									$main-color !default;
$alert-error-border:								#D70000 !default;
$alert-error-highlight-color:				#D70000 !default;

// Success
$alert-success-bg:										$white !default;
$alert-success-color:									$main-color !default;
$alert-success-border:								$alizarin !default;
$alert-success-highlight-color:				$alizarin!default;

// Pagination
$pagination-bg:													$white !default;
$pagination-border:											#DEDEDE !default;
$pagination-link-color:									$mine-shaft !default;
$pagination-link-hover-bg:							$white !default;
$pagination-link-hover-color:						$alizarin !default;
$pagination-link-active-bg:							$white !default;
$pagination-link-active-border:					#DEDEDE !default;
$pagination-link-active-color:					darken($alizarin, 15%) !default;
$pagination-link-disabled-color:				#BBB !default;
$pagination-link-disabled-border:				#DEDEDE !default;
$pagination-link-disabled-bg:						$white !default;
$pagination-link-more-bg:								$white !default;
$pagination-control-bg:									$mine-shaft !default;
$pagination-control-border:							$mine-shaft !default;
$pagination-control-color:							$white !default;

// Datepicker
$datepicker-wrapper-bg:											$white !default;
$datepicker-header-bg:											$white !default;
$datepicker-disabled-day-bg:								#FCFCFC !default;
$datepicker-disabled-day-color:							#999999 !default;
$datepicker-days-header-bg:									none !default;
$datepicker-days-header-color:							$alizarin !default;
$datepicker-border:													#E4E4E4 !default;
$datepicker-day-hover-bg:										$alizarin !default;
$datepicker-day-hover-border:								$alizarin !default;
$datepicker-day-hover-color:								$white !default;
$datepicker-day-highlight-bg:								$white !default;
$datepicker-day-highlight-border:						$datepicker-day-highlight-bg !default;
$datepicker-day-highlight-color:						$alizarin !default;
$datepicker-day-hover-highlight-border:			$datepicker-day-highlight-bg !default;
$datepicker-day-hover-highlight-color:			$alizarin !default;
$datepicker-day-active-bg:									$main-color !default;
$datepicker-day-active-border:							$datepicker-day-active-bg !default;
$datepicker-day-active-color:								$white !default;

//
// -------------------------
// @section Typography
// @info    All about typography
// -------------------------
//
// Scafolding
$font-family-websafe:					"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-base:						"Raleway Light", sans-serif !default;
$font-family-secondary:				"Raleway Bold", sans-serif !default;
$font-family-additional:			$font-family-websafe !default;
$font-family-callback:				$font-family-websafe !default;
$font-size-base:							18px !default;
$font-size-small:							14px !default; // 14px
$desired-space-height:				30px !default;
$line-height-base:						1.3 !default;

// Headings
$headings-line-height:			1.1 !default;
$headings-font-family:			$font-family-secondary, sans-serif !default;	
$font-size-h1:							60px !default;
$font-size-h2:							40px !default;
$font-size-h3:							20px !default;
$font-size-h4:							16px !default;
$font-size-h5:							14px !default;
$font-size-h6:							12px !default;

// Buttons
$btn-font-family:						$font-family-secondary !default;
$btn-large-font-size:				($font-size-base + 4) !default;
$btn-font-size:							$font-size-base - 4 !default;
$btn-small-font-size:				$font-size-small !default;
$btn-xsmall-font-size:			$font-size-small !default;

// Forms
$input-font-family:				$font-family-base !default;

//
// -------------------------
// @section Sizes
// @info    All about sizes
// -------------------------
//
// Grid
$num-columns:				12 !default;
$column-gap:				30px !default; // 30
// Deprecated when site is responsive
// $column-width:				80px !default;

// Screen sizes
$responsive:					true !default;
$breakpoint-xs:				320px !default; // Mobile
$breakpoint-sm:				768px !default; // Tablet
$breakpoint-md:				992px !default; // Desktop
$breakpoint-lg:				1200px !default; // Large desktop

// Responsive breakpoints
$xs:						(max: $breakpoint-sm - 1);
$sm:						(min: $breakpoint-sm);
$md:						(min: $breakpoint-md);
$lg:						(min: $breakpoint-lg);
$sm-only:				(min: map-get($sm, min), max: map-get($md, min) - 1);
$md-only:				(min: map-get($md, min), max: map-get($lg, min) - 1);

// Container sizes
$container-xs:			(290px + $column-gap) !default;
$container-sm:			(720px + $column-gap) !default;
$container-md:			(940px + $column-gap) !default;
$container-lg:			(1170px + $column-gap) !default;

// Header
$header-height:				100px !default;

// Menu
$menu-width:			240px !default;

// Tables
$table-cell-padding:								18px 15px !default;
$table-condensed-cell-padding:			8px 5px !default;

// Buttons
$btn-large-padding:				20px 30px !default;
$btn-padding:							13px 20px !default;
$btn-small-padding:				8px 15px !default;
$btn-xsmall-padding:			1px 20px !default;

// Top slider
$top-slider-width:				$container-md !default;
$top-slider-height:				540px !default;