<!DOCTYPE html>
<html lang="es">

	<head> 
		<% include includes/head %>
	</head>

	<body data-env="<%= env %>">

		<!-- General wrapper -->
		<div id="general-wrapper">
		
			<!-- Header -->
			<% include includes/header %>
			<!-- End header -->

			<!-- Content -->
			<div id="content">
				
				<!-- Page content -->
				<div class="page-content essence-page">

					<!-- Top menu -->
					<% include includes/top-menu %>
					<!-- End top menu -->
					
					<!-- Top info -->
					<div class="top-info">

						<!-- Top banner -->
						<div class="top-banner"></div>
						<!-- End top banner -->

						<div class="caption">                                
							<div class="info">
								<div class="container">
									<h2 class="subtitle"><%= __("essence.top_banner.subtitle"); %></h2>
									<h1 class="title"><%- __("essence.top_banner.title"); %></h1>
									<p class="intro"><%= __("essence.top_banner.intro"); %></p>
								</div>
							</div>
						</div>
						<div class="scroll-more">							
							<svg viewBox="0 0 123 141" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g stroke-width="1" fill="none" transform="translate(1.000000, 1.000000)" stroke="#821F6B">
							        <polygon id="Polygon-Copy" points="60.3448276 0 120.689655 34.8401025 120.689655 104.520307 60.3448276 139.36041 6.57252031e-14 104.520307 2.66453526e-14 34.8401025"></polygon>
							    </g>
							</svg>
							<a href="javascript:void(0);" class="go-to" data-section=".members-list"><span><%= __("general.take_peek") %></span></a>
						</div>
					</div>
					<!-- End top info -->

					<!-- Members list -->
					<section class="members-list">

						<!-- List -->
						<div class="list">
							<div class="container">
								<div class="row">

									<% members.forEach(function(member) { %>
										<div class="col-6">
											
											<!-- Item -->
											<div class="item">
												<div class="cover">
													<img src="/assets/img/bg/cover.png" alt="Cover">
												</div>
												<div class="member" style="background-image: url(/assets/img/members/<%= member.filename %>-a.jpg)">
													<div style="background-image: url(/assets/img/members/<%= member.filename %>-b.jpg)"></div>
												</div>
												<div class="info">
													<div>
														<span><%= member.role %></span>
														<p><%= member.name %></p>
													</div>
												</div>
											</div>
											<!-- End item -->

										</div>
									<% }) %>

								</div>
							</div>
						</div>
						<!-- End list -->

					</section>
					<!-- End members list -->

					<!-- Contact ways -->
					<% include includes/contact-ways %>
					<!-- End contact ways -->

					<!-- Footer -->
					<% include includes/footer %>
					<!-- End footer -->                    

				</div>
				<!-- End page content -->

			</div>
			<!-- End content -->            
		
		</div>
		<!-- End general wrapper -->

		<% include includes/bottom %>

	</body>
</html>