<!DOCTYPE html>
<html lang="es">

	<head> 
		<% include includes/head %>
	</head>

	<body data-env="<%= env %>">

		<!-- General wrapper -->
		<div id="general-wrapper">
		
			<!-- Header -->
			<% include includes/header %>
			<!-- End header -->

			<!-- Content -->
			<div id="content">
				
				<!-- Page content -->
				<div class="page-content home-page">

					<!-- Top menu -->
					<% include includes/top-menu %>
					<!-- End top menu -->
					
					<!-- Top info -->
					<div class="top-info">
						<div class="caption">                                
							<div class="info">
								<div class="container">
									<h2 class="subtitle"><%= __('hello', 'Marcus') %>Hola, queremos conocerte</h2>
									<h1 class="title"><a href="/lang/en">EN</a><a href="/lang/es">ES</a>Nosotros somos <strong>Hydralab</strong></h1>
									<p class="intro">Somos una agencia creativa digital, enfocada a la generación de experiencias duraderas entre usuarios y marcas. ¿Cómo lo hacemos?</p>										
								</div>
							</div>
						</div>
						<div class="scroll-more">							
							<svg viewBox="0 0 123 141" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g stroke-width="1" fill="none" transform="translate(1.000000, 1.000000)" stroke="#821F6B">
							        <polygon id="Polygon-Copy" points="60.3448276 0 120.689655 34.8401025 120.689655 104.520307 60.3448276 139.36041 6.57252031e-14 104.520307 2.66453526e-14 34.8401025"></polygon>
							    </g>
							</svg>
							<a href="javascript:void(0);" class="go-to" data-section=".page-intro"><span>Echa un vistazo</span></a>
						</div>
					</div>
					<!-- End top info -->					

					<!-- Page intro -->
					<section class="page-intro">
						<div class="container">							
								<div class="title">
									<div class="wrapper">
										<div>
											<h2 class="h2 page-title">Esencia<br />HydraLab <span></span></h2>
										</div>
									</div>
								</div>
								<div class="resume">
									<div class="wrapper">
										<div>
											<h3 class="subtitle">Lorem ipsum dolor</h3>
											<p>Somos un equipo de profesionistas apasionados por lo que hacemos y comprometidos con los objetivos de negocio de nuestros clientes.</p>
											<p>¿Nuestra filosofía?<br /><strong>¡Si tú ganas, todos ganamos!</strong></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- End page intro -->	

					<!-- Successful cases -->
					<section class="successful-cases">

						<!-- Section intro -->
						<div class="section-intro">
							<div class="container">
								<h2 class="h2 title">Nuestros casos de éxito</h2>
								<p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase feet but rub face on everything hopped up on goofballs.</p>
							</div>
						</div>
						<!-- End section intro -->

						<!-- List -->
						<div class="list">
							<div class="container">
								<div class="row">
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="cover">
												<img src="/assets/img/bg/cover.png" alt="Cover">
											</div>
											<div class="project" style="background-image: url(/assets/img/tmp/case-1.jpg)"></div>
											<a href="javascript:void(0);" class="info">
												<span>Desarrollo Web</span>
												<p>Contáctanos <i class="fa fa-arrow-right"></i></p>
											</a>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="cover">
												<img src="/assets/img/bg/cover.png" alt="Cover">
											</div>
											<div class="project" style="background-image: url(/assets/img/tmp/case-2.jpg)"></div>
											<a href="javascript:void(0);" class="info">
												<span>Desarrollo Web</span>
												<p>Contáctanos <i class="fa fa-arrow-right"></i></p>
											</a>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="cover">
												<img src="/assets/img/bg/cover.png" alt="Cover">
											</div>
											<div class="project" style="background-image: url(/assets/img/tmp/case-3.jpg)"></div>
											<a href="javascript:void(0);" class="info">
												<span>Desarrollo Web</span>
												<p>Contáctanos <i class="fa fa-arrow-right"></i></p>
											</a>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="cover">
												<img src="/assets/img/bg/cover.png" alt="Cover">
											</div>
											<div class="project" style="background-image: url(/assets/img/tmp/case-4.jpg)"></div>
											<a href="javascript:void(0);" class="info">
												<span>Desarrollo Web</span>
												<p>Contáctanos <i class="fa fa-arrow-right"></i></p>
											</a>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="cover">
												<img src="/assets/img/bg/cover.png" alt="Cover">
											</div>
											<div class="project" style="background-image: url(/assets/img/tmp/case-5.jpg)"></div>
											<a href="javascript:void(0);" class="info">
												<span>Desarrollo Web</span>
												<p>Contáctanos <i class="fa fa-arrow-right"></i></p>
											</a>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item not-bg">
											<div class="cover">
												<img src="/assets/img/bg/cover.png" alt="Cover">
											</div>
											<a href="javascript:void(0);" class="info">
												<p>Conoce más proyectos <i class="fa fa-arrow-right"></i></p>
											</a>
										</div>
										<!-- End item -->

									</div>
								</div>
							</div>
						</div>
						<!-- End list -->

					</section>
					<!-- End successful cases -->

					<!-- Contact ways -->
					<% include includes/contact-ways %>
					<!-- End contact ways -->

					<!-- Footer -->
					<% include includes/footer %>
					<!-- End footer -->                    

				</div>
				<!-- End page content -->

			</div>
			<!-- End content -->            
		
		</div>
		<!-- End general wrapper -->

		<% include includes/bottom %>

	</body>
</html>