<!DOCTYPE html>
<html lang="es">

	<head> 
		<% include includes/head %>
	</head>

	<body data-env="<%= env %>">

		<!-- General wrapper -->
		<div id="general-wrapper">
		
			<!-- Header -->
			<% include includes/header %>
			<!-- End header -->

			<!-- Content -->
			<div id="content">
				
				<!-- Page content -->
				<div class="page-content services-page">

					<!-- Top menu -->
					<% include includes/top-menu %>
					<!-- End top menu -->
					
					<!-- Top info -->
					<div class="top-info has-banner services">

						<!-- Top banner -->
						<div class="top-banner"></div>
						<!-- End top banner -->

						<div class="caption">                                
							<div class="info">
								<div class="container">
									<h2 class="subtitle"><%= __("services.top_banner.subtitle"); %></h2>
									<h1 class="title"><%= __("services.top_banner.title"); %></h1>
									<p class="intro"><%= __("services.top_banner.intro"); %></p>
								</div>
							</div>
						</div>
						<div class="scroll-more">							
							<svg viewBox="0 0 123 141" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g stroke-width="1" fill="none" transform="translate(1.000000, 1.000000)" stroke="#821F6B">
									<polygon id="Polygon-Copy" points="60.3448276 0 120.689655 34.8401025 120.689655 104.520307 60.3448276 139.36041 6.57252031e-14 104.520307 2.66453526e-14 34.8401025"></polygon>
								</g>
							</svg>
							<a href="javascript:void(0);" class="go-to" data-section=".page-intro"><span><%= __("general.take_peek"); %></span></a>
						</div>
					</div>
					<!-- End top info -->					

					<!-- Page intro -->
					<section class="page-intro">
						<div class="container">							
								<div class="title">
									<div class="wrapper">
										<div>
											<h2 class="h2 page-title"><%- __("services.page_intro.title"); %> <span></span></h2>
										</div>
									</div>
								</div>
								<div class="resume">
									<div class="wrapper">
										<div><%- __("services.page_intro.resume"); %></div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- End page intro -->	

					<!-- Services list -->
					<section class="services-list">

						<!-- Section intro -->
						<div class="section-intro">
							<div class="container">
								<h2 class="h2 title"><%= __("services.section_intro.title"); %></h2>
								<p><%= __("services.section_intro.intro"); %></p>
							</div>
						</div>
						<!-- End section intro -->

						<!-- List -->
						<div class="list">
							<div class="container">
								<div class="row display-as-table">
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="icon">
												<svg viewBox="0 0 139 156" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1.000000, 2.000000)">
														<polygon stroke-width="2" points="0 38.1301082 68.3644622 0 136.731466 38.1301082 136.731466 114.39185 68.3644622 152.520433 0 114.39185"></polygon>
														<path d="M110.724838,96.680644 C110.724838,96.6033742 110.69332,96.5245793 110.644518,96.4488346 C110.380174,95.4321266 109.671529,92.1796777 108.871888,88.3024618 C107.213129,86.5771083 105.598597,83.5442684 104.574772,79.8922533 C103.618558,76.4837397 103.38929,73.2765344 103.788348,70.9645404 L104.671359,70.9645404 L106.066282,65.0981353 L106.076958,65.0981353 L106.076958,62.0759707 L103.05581,62.0759707 L103.05581,63.7555723 L101.425519,63.7555723 L101.425519,62.0759707 L98.4053874,62.0759707 L98.4053874,63.7555723 L96.7761129,63.7555723 L96.7761129,62.0759707 L93.7544567,62.0759707 L93.7544567,63.7555723 L93.7544567,65.0966102 L95.8453167,70.964032 L96.6754588,70.964032 C96.8889675,73.3060189 96.4106064,76.4837397 95.4533758,79.8912366 C94.2958537,84.0226295 92.3824093,87.3625152 90.505058,88.9089281 C89.9113005,92.5055326 89.3887126,95.4733033 89.1914713,96.443751 C89.1386024,96.5194958 89.1060678,96.6003241 89.1060678,96.6801357 C89.1060678,97.7715717 93.9420394,98.6535659 99.9141821,98.6535659 C105.799396,98.6535659 110.57589,97.7944476 110.712129,96.7263959 L110.721788,96.7263959 C110.721788,96.7238541 110.719755,96.713687 110.717721,96.7111452 C110.719755,96.6994531 110.724838,96.6913194 110.724838,96.680644"></path>
														<path d="M47.5459935,96.4487837 C47.281141,95.4320758 46.5719872,92.1796269 45.7738714,88.302411 C44.1135873,86.5770575 42.5000717,83.5442175 41.4747217,79.8922024 C40.5185078,76.4836889 40.2917819,67.2763813 40.6893148,64.963879 L42.9667407,64.963879 L44.3626807,59.0979822 L44.3738645,59.0979822 L41.3496666,57.7579611 L38.3280104,54.6808943 L37.7947471,54.6808943 C39.1759449,54.4145168 40.1885861,53.6097924 40.1885861,52.6459533 C40.1885861,51.4650469 38.6797914,50.5083247 36.8171824,50.5083247 C34.954065,50.5083247 33.446287,51.4650469 33.446287,52.6459533 C33.446287,53.6087757 34.4579115,54.4145168 35.840126,54.6808943 L35.3048292,54.6808943 L32.2836814,57.7579611 L29.2599918,59.0979822 L31.353902,64.963879 L33.1422913,64.963879 C33.5393158,67.2763813 33.3120816,76.4836889 32.354851,79.8922024 C31.1973289,84.0235954 29.2849012,87.3629728 27.4055165,88.9093856 C26.811759,92.5070069 26.2896794,95.4737608 26.090913,96.4452253 C26.0400776,96.5199533 26.0065263,96.6007816 26.0065263,96.6805932 C26.0065263,97.7725376 30.8465647,98.6545317 36.8161657,98.6545317 C42.7008715,98.6545317 47.4804158,97.7943968 47.6146213,96.726345 L47.62428,96.726345 C47.6232633,96.7238033 47.6197048,96.7141445 47.6186881,96.7121111 C47.6197048,96.6994023 47.6273301,96.6912686 47.6273301,96.6805932 C47.6273301,96.6033234 47.5947954,96.5245285 47.5459935,96.4487837"></path>
														<path d="M84.4910269,60.2112266 C84.5316952,57.9424427 83.371123,61.1562567 83.371123,61.1562567 C83.124063,61.8623604 82.666036,61.6142836 82.666036,61.6142836 C82.1688658,60.3688164 77.9795205,55.3498373 77.9795205,55.3498373 C78.5626026,53.068853 77.7721121,51.700364 77.7721121,51.700364 C76.4844514,48.4662159 76.5281699,50.995277 76.5281699,50.995277 C76.6532249,51.7811923 76.3217781,52.2371858 76.235358,51.658679 C76.1519879,51.0755969 72.8375198,47.7199522 72.8375198,47.7199522 C71.4695392,45.8532763 64.4984809,37.4740774 64.4984809,37.4740774 C62.4660816,35.0273696 64.1746594,38.2630428 64.1746594,38.2630428 L65.7444565,41.4560143 C67.9832475,44.7328641 66.2817867,43.1147733 66.2817867,43.1147733 L58.81915,35.9388483 C56.9524742,33.8235873 58.1150797,35.9388483 58.1150797,35.9388483 L61.1057263,41.7462844 C62.0690571,43.2388117 61.6827081,43.3216734 61.6827081,43.3216734 C60.8505326,42.5357581 54.6699647,40.3366188 54.6699647,40.3366188 C52.2242736,39.1338532 54.9210916,42.1605929 54.9210916,42.1605929 C58.6127583,47.346312 54.463573,52.4044343 54.463573,52.4044343 C52.6812839,53.9005201 54.8773731,53.61025 54.8773731,53.61025 C56.580359,53.5253548 56.8274191,55.2268157 56.8274191,55.2268157 C50.0688527,59.6652544 51.5471461,69.166899 51.5471461,69.166899 C53.1240602,76.5502324 58.0952539,79.3421126 61.9028254,81.5890372 C65.7098885,83.8364703 65.0058182,87.8875433 61.5413857,88.3389616 C58.9233626,88.6790504 57.6845039,88.5672125 56.4014184,88.5672125 L55.3399753,88.5672125 C55.3369251,88.5672125 55.3343834,88.7812296 55.3313333,88.8122392 C56.4334447,90.4542226 57.0754958,92.5094978 57.0754958,94.6369593 C57.0754958,98.2015375 55.2723642,101.383325 52.5272526,103.241359 C52.7534701,103.741579 52.8866589,104.311444 52.8866589,104.895543 C52.8866589,106.29555 52.1576793,107.531867 51.0637015,108.238987 C50.5406052,110.314088 50.010392,112.372414 49.494921,114.350419 C49.4542527,114.41803 49.4252765,114.485133 49.4054507,114.554777 C49.6845371,116.543458 57.4313436,117.668954 66.9695897,117.668954 C76.5322367,117.668954 84.2942939,116.538375 84.5367787,114.540035 L84.6079483,114.540035 C84.5647382,114.540035 84.5179696,114.406846 84.4752679,114.277216 C84.4701843,114.271116 84.4712011,114.388037 84.4661175,114.378887 C83.7940735,112.399356 83.101187,110.346114 82.4088089,108.276605 C81.2858549,107.573043 80.5345077,106.336218 80.5345077,104.915369 C80.5345077,104.697285 80.5639922,104.488351 80.598052,104.279926 C76.8291154,102.738089 74.1709324,99.0377798 74.1709324,94.7147374 C74.1709324,92.7733335 74.7219881,90.96461 75.6563428,89.4146387 C76.3044941,88.5209523 77.3481449,86.5597226 76.6313657,83.804444 C75.2313588,78.4153832 70.0395394,76.072888 67.1109121,74.4293795 C64.182793,72.7863794 61.6893167,70.8368419 61.6893167,70.8368419 C55.1305334,64.1280942 62.7599102,59.1924852 62.7599102,59.1924852 C63.091357,59.967725 62.5952035,61.9050621 62.5952035,61.9050621 C61.9297681,63.730053 63.2580971,62.5674474 63.2580971,62.5674474 C64.6382782,62.4007073 63.9225158,63.672609 63.9225158,63.672609 C63.7588258,65.4975998 64.5859178,64.4483572 64.5859178,64.4483572 C70.3923371,61.7916992 73.7622158,64.1133519 73.7622158,64.1133519 C74.5928662,65.7741444 76.5866306,67.8751715 76.5866306,67.8751715 C76.7665879,68.4979051 76.4061649,70.4052493 76.4061649,70.4052493 C76.2800931,72.0213067 77.0700752,71.027983 77.0700752,71.027983 C78.230139,70.1978409 78.6032709,68.994567 78.6032709,68.994567 C78.853381,68.6209268 81.6722039,67.1690678 81.6722039,67.1690678 C82.3772909,67.0033444 82.2115675,65.9693523 82.2115675,65.9693523 C85.4055557,66.0501806 84.4910269,60.2112266 84.4910269,60.2112266"></path>
													</g>
												</svg>
											</div>
											<h3 class="h2 name"><%= __("services.list.item1.name"); %></h3>
											<p><%= __("services.list.item1.resume"); %></p>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="icon">
												<svg viewBox="0 0 138 153" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<defs>
														<polygon id="web" points="0 149.661386 134.142574 149.661386 134.142574 0 0 0"></polygon>
													</defs>
													<g transform="translate(2.000000, 2.000000)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<polygon stroke-width="2" points="0.495049505 37.6985149 67.069802 0.566336634 133.647525 37.6985149 133.647525 111.964356 67.069802 149.09505 0.495049505 111.964356"></polygon>
														<path d="M69.9656436,83.7028218 C68.93,83.2008416 66.8879208,81.6627228 66.8879208,81.6627228 C63.1616832,77.8538119 67.4938614,75.0513366 67.4938614,75.0513366 C67.6839604,75.4909406 67.4007921,76.5919307 67.4007921,76.5919307 C67.0240594,77.6280693 67.7775248,76.9691584 67.7775248,76.9691584 C68.5626733,76.8741089 68.1552475,77.595396 68.1552475,77.595396 C68.0606931,78.6325248 68.5314851,78.0369802 68.5314851,78.0369802 C71.8285149,76.5285644 73.7428713,77.8463861 73.7428713,77.8463861 C74.2156436,78.7889604 75.3453465,79.9830198 75.3453465,79.9830198 C75.4483168,80.3359901 75.2438614,81.4191584 75.2438614,81.4191584 C75.1735644,82.3374752 75.6205941,81.7741089 75.6205941,81.7741089 C76.279505,81.3008416 76.4918812,80.6186634 76.4918812,80.6186634 C76.6334653,80.4077723 78.2354455,79.5820297 78.2354455,79.5820297 C78.6349505,79.4874752 78.5418812,78.9003465 78.5418812,78.9003465 C80.3547525,78.9468812 79.8354455,75.6310396 79.8354455,75.6310396 C79.8592079,74.3434158 79.200297,76.1676733 79.200297,76.1676733 C79.0587129,76.5691584 78.799802,76.4270792 78.799802,76.4270792 C78.5176238,75.7201485 76.1389109,72.8716337 76.1389109,72.8716337 C76.469604,71.5760891 76.0210891,70.7988614 76.0210891,70.7988614 C75.290396,68.9627228 75.3126733,70.3978713 75.3126733,70.3978713 C75.3859406,70.8444059 75.1958416,71.1043069 75.1488119,70.7755941 C75.1022772,70.4439109 73.2186139,68.5389604 73.2186139,68.5389604 C72.4413861,67.4795545 68.4834653,62.7221287 68.4834653,62.7221287 C67.329505,61.3320297 68.299802,63.1691584 68.299802,63.1691584 L69.1908911,64.9825248 C70.4621782,66.8419307 69.4973267,65.9231188 69.4973267,65.9231188 L65.2582178,61.8488614 C64.1988119,60.6478713 64.8582178,61.8488614 64.8582178,61.8488614 L66.5577228,65.1463861 C67.1032673,65.9944059 66.8844554,66.0409406 66.8844554,66.0409406 C66.4111881,65.5939109 62.9007921,64.3458911 62.9007921,64.3458911 C61.5131683,63.6632178 63.0448515,65.3820297 63.0448515,65.3820297 C65.139901,68.3260891 62.7829703,71.1968812 62.7829703,71.1968812 C61.7730693,72.0473762 63.020099,71.8825248 63.020099,71.8825248 C63.9854455,71.834505 64.1265347,72.8013366 64.1265347,72.8013366 C60.2889109,75.3191584 61.1290099,80.715198 61.1290099,80.715198 C62.0230693,84.9072772 67.0087129,87.7686634 67.0087129,87.7686634 C67.9879208,88.3439109 68.7072277,89.1656931 69.2359406,89.9498515 L74.3156436,87.1686634 C72.690396,85.2701485 69.9656436,83.7028218 69.9656436,83.7028218"></path>
														<mask id="mask-2" fill="white">
															<use xlink:href="#web"></use>
														</mask>
														<path d="M34.7970297,86.9064356 L101.215347,86.9064356 L101.215347,51.349505 L34.7970297,51.349505 L34.7970297,86.9064356 Z M103.140594,46.6534653 L36.0772277,46.6534653 L28.7594059,46.6534653 L28.7594059,50.8108911 L28.7594059,86.7405941 L28.7594059,91.6029703 L36.0772277,91.6029703 L59.0163366,91.6029703 L60.890099,95.6287129 L50.6415842,95.6287129 L42.0069307,103.007921 L93.2405941,103.007921 L83.6445545,95.6287129 L74.0074257,95.6287129 L76.0876238,91.6029703 L103.140594,91.6029703 L105.911386,91.6029703 L105.911386,86.7405941 L105.911386,50.8108911 L105.911386,46.6534653 L103.140594,46.6534653 Z" mask="url(#mask-2)"></path>
														<polygon class="arrows" mask="url(#mask-2)" points="51.3318812 80.940396 54.4521782 77.8186139 45.769505 69.1354455 54.4521782 60.4522772 51.3318812 57.3319802 42.6477228 66.0146535 39.5274257 69.1354455 42.6477228 72.2567327"></polygon>
														<polygon class="arrows" mask="url(#mask-2)" points="87.020198 80.940396 95.7048515 72.2567327 98.8251485 69.1354455 95.7048515 66.0146535 87.020198 57.3319802 83.900396 60.4522772 92.5840594 69.1354455 83.900396 77.8186139"></polygon>
													</g>
												</svg>
											</div>
											<h3 class="h2 name"><%= __("services.list.item2.name"); %></h3>
											<p><%= __("services.list.item2.resume"); %></p>
										</div>
										<!-- End item -->

									</div>									
								</div>
								<div class="row display-as-table">
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="icon">
												<svg viewBox="0 0 138 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(2.000000, 2.000000)">
											            <polygon stroke-width="2" points="0 37.4506645 67.017608 0.0717607973 134.037708 37.4506645 134.037708 112.209967 67.017608 149.587375 0 112.209967"></polygon>
											            <path d="M95.4423588,85.6225914 C91.0649502,85.6225914 87.2038206,87.8212625 84.8940199,91.173588 L70.6166113,83.013289 C71.1847176,81.5646179 71.5001661,79.9883721 71.5001661,78.3388704 C71.5001661,74.044186 69.3852159,70.2468439 66.1400332,67.9245847 L71.2729236,57.8476744 C73.9519934,58.7307309 76.9714286,58.5622924 79.6564784,57.1325581 C84.8770764,54.3548173 86.85299,47.8714286 84.0757475,42.6523256 C81.2975083,37.4332226 74.8141196,35.455814 69.5945183,38.2340532 C64.3759136,41.0122924 62.3980066,47.4956811 65.1762458,52.7152824 C65.8799003,54.0348837 66.8202658,55.1481728 67.919103,56.0282392 L62.7418605,66.1893688 C61.4700997,65.7657807 60.1121262,65.5335548 58.6993355,65.5335548 C54.9478405,65.5335548 51.5730897,67.1471761 49.232392,69.7181063 L41.4672757,64.2249169 C42.0284053,63.1305648 42.3513289,61.892691 42.3513289,60.5775748 C42.3513289,56.1448505 38.7563123,52.5513289 34.323588,52.5513289 C29.8908638,52.5513289 26.2978405,56.1448505 26.2978405,60.5775748 C26.2978405,65.0107973 29.8908638,68.6038206 34.323588,68.6038206 C36.0194352,68.6038206 37.5887043,68.0745847 38.8848837,67.1770764 L47.0730897,72.9707641 C46.3186047,74.6038206 45.895515,76.4207641 45.895515,78.3373754 C45.895515,80.8320598 46.6106312,83.1583056 47.8440199,85.1267442 L45.3134551,87.2995017 C44.3636213,86.7059801 43.2433555,86.3566445 42.0393688,86.3566445 C38.6222591,86.3566445 35.8509967,89.1284053 35.8509967,92.5460133 C35.8509967,95.9636213 38.6222591,98.7348837 42.0393688,98.7348837 C45.4574751,98.7348837 48.2287375,95.9636213 48.2287375,92.5460133 C48.2287375,91.7227575 48.0642857,90.9378738 47.7717608,90.2197674 L50.3297342,88.0225914 C52.226412,89.6621262 54.6114618,90.7475083 57.2337209,91.0480066 C57.1674419,91.0041528 57.1066445,90.9523256 57.0358804,90.9119601 C57.0358804,90.9119601 53.1892027,88.7028239 52.4975083,85.4671096 C52.4975083,85.4671096 51.8496678,81.3024917 54.811794,79.3569767 C54.811794,79.3569767 54.7026578,78.6124585 53.9571429,78.6483389 C53.9571429,78.6483389 52.9948505,78.7749169 53.7757475,78.1196013 C53.7757475,78.1196013 55.5936877,75.90299 53.9765781,73.6300664 C53.9765781,73.6300664 52.7945183,72.3034884 53.8649502,72.8307309 C53.8649502,72.8307309 56.5749169,73.795515 56.939701,74.1403654 C56.939701,74.1403654 57.1091362,74.1034884 56.6860465,73.4486711 L55.3759136,70.9036545 C55.3759136,70.9036545 54.867608,69.9767442 55.6843854,70.9036545 L58.9569767,74.0486711 C58.9569767,74.0486711 59.7009967,74.757309 58.7202658,73.3215947 L58.0320598,71.9222591 C58.0320598,71.9222591 57.2830565,70.50299 58.1745847,71.576412 C58.1745847,71.576412 61.2299003,75.2491694 61.829402,76.0674419 C61.829402,76.0674419 63.2820598,77.5380399 63.3194352,77.7931894 C63.355814,78.0478405 63.5023256,77.8475083 63.4465116,77.5026578 C63.4465116,77.5026578 63.4280731,76.3938538 63.992691,77.8116279 C63.992691,77.8116279 64.3380399,78.4111296 64.082392,79.411794 C64.082392,79.411794 65.9192691,81.6109635 66.1375415,82.1576412 C66.1375415,82.1576412 66.3373754,82.2662791 66.4460133,81.9568106 C66.4460133,81.9568106 66.9548173,80.548505 66.9368771,81.5431894 C66.9368771,81.5431894 67.3365449,84.1011628 65.936711,84.0657807 C65.936711,84.0657807 66.0094684,84.5187708 65.701495,84.5930233 C65.701495,84.5930233 64.4651163,85.229402 64.3549834,85.3928571 C64.3549834,85.3928571 64.1920266,85.9200997 63.6837209,86.2833887 C63.6837209,86.2833887 63.3378738,86.7184385 63.3921927,86.0098007 C63.3921927,86.0098007 63.5501661,85.1755814 63.4714286,84.9024917 C63.4714286,84.9024917 62.5978405,83.9815615 62.2340532,83.25299 C62.2340532,83.25299 60.7564784,82.2348837 58.2109635,83.3995017 C58.2109635,83.3995017 57.8481728,83.8589701 57.9209302,83.0586379 C57.9209302,83.0586379 58.233887,82.5024917 57.629402,82.5757475 C57.629402,82.5757475 57.0473422,83.0845515 57.3373754,82.2842193 C57.3373754,82.2842193 57.5566445,81.4360465 57.4096346,81.0951827 C57.4096346,81.0951827 54.0662791,83.2584718 56.9406977,86.1986711 C56.9406977,86.1986711 58.5184385,87.3862126 59.3177741,87.7739203 C59.3177741,87.7739203 61.4197674,88.982392 62.6760797,90.448505 L62.430897,90.5820598 C64.7700997,89.8689369 66.8277409,88.5064784 68.3880399,86.7 L83.0785714,95.0950166 C82.7935216,96.1584718 82.6390365,97.2737542 82.6390365,98.4254153 C82.6390365,105.495847 88.3714286,111.228738 95.4413621,111.228738 C102.512292,111.228738 108.244186,105.495847 108.244186,98.4254153 C108.244186,91.3554817 102.513787,85.6225914 95.4423588,85.6225914"></path>
											        </g>
											    </svg>
											</div>
											<h3 class="h2 name"><%= __("services.list.item3.name"); %></h3>
											<p><%= __("services.list.item3.resume"); %></p>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="icon">
												<svg width="138px" height="154px" viewBox="0 0 138 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(2.000000, 2.000000)">
														<polygon stroke-width="2" points="0 37.3789037 67.017608 0 134.037708 37.3789037 134.037708 112.138206 67.017608 149.515615 0 112.138206"></polygon>
														<path d="M71.715299,96.506711 C71.7437043,96.4842857 71.774103,96.4588704 71.8030066,96.4364452 C71.7930399,96.4399336 71.7855648,96.4434219 71.7746013,96.4474086 C71.7247674,96.4364452 71.7177907,96.4703322 71.715299,96.506711"></path>
														<path d="M62.4266611,77.6905316 C59.0289867,79.5398671 55.4952658,82.1481728 55.876495,87.3961794 C56.2761628,92.8694352 61.2530731,95.2958472 65.7610465,96.4465116 C63.6196844,95.4732558 61.4743355,94.501495 61.1165282,91.742691 C62.5148671,92.6466777 63.9844684,91.5657807 63.7960963,89.9561462 C63.7362957,89.4483389 63.4721761,88.9629568 63.3196844,88.5269103 C62.8328073,87.1260797 63.0939369,85.6355482 63.9156977,84.776412 C64.7658638,83.8873754 65.9728405,83.1358804 66.9525748,82.1556478 C68.2039037,80.9038206 69.3874585,79.7656146 69.7507475,77.8689369 C70.7259967,78.9274086 71.5597176,80.1901993 71.3593854,81.9762458 C71.082309,84.4564784 68.5627076,85.3091362 68.7391196,87.6931894 C68.7725083,88.1491694 69.0092193,88.5936877 69.2160299,88.8244186 C70.519186,90.2885382 73.2824751,89.1094684 72.9670266,86.8589701 C74.0922757,88.0210963 75.0759967,89.6312292 74.9917774,91.6833887 C74.8876246,94.1616279 73.1344684,95.367608 71.8039037,96.4360465 C74.832309,95.3297342 77.2801495,93.926412 78.8613787,91.5642857 C80.6135382,88.9430233 80.5118771,85.2478405 79.0995847,82.0953488 C77.2666944,78.0059801 73.6268272,75.5915282 70.8221761,72.45 C69.5703488,71.0466777 68.0912791,68.7383721 69.0371262,66.4375415 C68.920515,66.242691 68.8387874,66.5242525 68.7979236,66.5556478 C67.2291528,67.7875415 65.4710133,69.6817276 65.2851329,72.2725914 C65.144103,74.2569767 65.9050664,75.5626246 66.1193522,77.2136213 C66.2818106,78.4664452 65.5866279,79.5373754 64.5710133,79.7152824 C63.0690199,79.979402 62.2896179,78.9832226 62.4266611,77.6905316"></path>
														<path d="M99.7013621,84.8765282 L78.4990365,58.4645681 L78.4990365,48.1539369 L82.7334219,48.1539369 C84.777608,48.1539369 86.4345847,46.483505 86.4345847,44.4388206 C86.4345847,42.3946346 84.777608,40.724701 82.7334219,40.724701 L75.8239535,40.724701 C73.7797674,40.724701 71.0707973,40.9275249 71.0707973,42.971711 L71.0707973,59.7532724 C71.0707973,60.5874917 71.6384053,61.396794 72.1546844,62.0506146 L93.35701,88.4630731 L93.35701,95.0421429 C93.35701,97.0459635 93.1472093,98.4951329 92.2591694,99.3502824 C91.1010299,100.46407 89.4490365,100.994801 89.220299,100.994801 C89.1251163,100.985831 89.2267774,101.506096 89.1171429,101.506096 L74.8367442,101.506096 L61.0168106,101.506096 L46.736412,101.506096 C46.6367442,101.506096 46.6103322,100.985831 46.5221262,100.994801 C46.293887,101.000781 43.7598339,100.742641 42.4352492,99.4703821 C41.5506977,98.6197176 40.6796013,96.9577575 40.6796013,95.0421429 L40.6796013,88.4630731 L61.8819269,62.0516113 C62.3992027,61.396794 62.9663123,60.5874917 62.9663123,59.7532724 L62.9663123,42.971711 C62.9663123,40.9275249 61.5804319,40.724701 59.5362458,40.724701 L53.1196346,40.724701 C51.0749502,40.724701 49.4169767,42.3946346 49.4169767,44.4388206 C49.4169767,46.483505 51.0749502,48.1539369 53.1196346,48.1539369 L55.5375748,48.1539369 L55.5375748,58.4645681 L34.3352492,84.8765282 C33.8179734,85.5303488 33.2513621,86.3401495 33.2513621,87.1743688 L33.2513621,95.0421429 C33.2513621,100.103771 35.6992027,103.054934 37.3895681,104.641146 C40.5310963,107.587824 44.7634884,108.749452 46.2340864,108.749452 C46.3865781,108.749452 46.7289369,109.609086 46.8226246,109.609086 L61.017309,109.609086 L74.8367442,109.609086 L89.0294352,109.609086 C89.1216279,109.609086 89.2372425,108.749452 89.3787708,108.749452 C90.7741196,108.749452 94.2913953,108.030349 97.293887,105.224701 C98.9912292,103.638488 100.786744,100.226362 100.786744,95.0421429 L100.786744,87.1743688 C100.785249,86.3401495 100.218638,85.5303488 99.7013621,84.8765282"></path>
													</g>
												</svg>
											</div>
											<h3 class="h2 name"><%= __("services.list.item4.name"); %></h3>
											<p><%= __("services.list.item4.resume"); %></p>
										</div>
										<!-- End item -->

									</div>
								</div>
								<div class="row display-as-table">
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="icon">
												<svg viewBox="0 0 138 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(2.000000, 2.000000)">
														<polygon stroke-width="2" points="0 37.451113 67.0171096 0.0717109635 134.037209 37.451113 134.037209 112.209917 67.0171096 149.587326 0 112.209917"></polygon>
														<path d="M85.0716279,90.6614452 C85.0716279,92.4858638 84.2483721,93.915598 82.4244518,93.915598 L73.5460465,93.915598 C70.8749502,91.8898505 67.11299,89.0164286 67.11299,89.0164286 C65.4186379,88.1951661 62.0802658,85.693505 62.0802658,85.693505 C55.9890698,79.4652658 63.0724585,74.8900166 63.0724585,74.8900166 C63.3819269,75.6101163 62.9194684,77.4106146 62.9194684,77.4106146 C62.3030233,79.1054651 63.5369103,78.0290532 63.5369103,78.0290532 C64.8171429,77.8740698 64.1513621,79.0536379 64.1513621,79.0536379 C63.9993688,80.74799 64.767309,79.7757309 64.767309,79.7757309 C70.1558472,77.3109468 73.2854153,79.4642691 73.2854153,79.4642691 C74.0588372,81.0061296 75.9066777,82.9556312 75.9066777,82.9556312 C76.0741196,83.5337043 75.7392359,85.305299 75.7392359,85.305299 C75.6226246,86.8048007 76.3566777,85.8843688 76.3566777,85.8843688 C77.4330897,85.1124419 77.7784385,83.9981561 77.7784385,83.9981561 C78.0116611,83.6498173 80.6289369,82.3018106 80.6289369,82.3018106 C81.2847508,82.1473256 81.1287708,81.1880233 81.1287708,81.1880233 C84.0953821,81.2622757 83.246711,75.8438372 83.246711,75.8438372 C83.2840864,73.7373588 82.2066777,76.7204153 82.2066777,76.7204153 C81.9764452,77.3757309 81.5523588,77.1440033 81.5523588,77.1440033 C81.089402,75.9888538 77.2018605,71.3313787 77.2018605,71.3313787 C77.7430565,69.2124419 77.0095017,67.9421761 77.0095017,67.9421761 C75.8149834,64.9406811 75.8538538,67.2883555 75.8538538,67.2883555 C75.9714618,68.0179236 75.661495,68.4410133 75.5847508,67.9043023 C75.5075083,67.3621096 72.4287708,64.24799 72.4287708,64.24799 C71.158505,62.5152658 64.6890698,54.737691 64.6890698,54.737691 C62.8008638,52.4657641 64.3890698,55.4697508 64.3890698,55.4697508 L65.8457143,58.4338704 C67.9227907,61.4747342 66.3450498,59.9727409 66.3450498,59.9727409 L59.4136545,53.3119435 C57.6834219,51.3489867 58.7603322,53.3119435 58.7603322,53.3119435 L61.5375748,58.7024751 C62.432093,60.0888538 62.073289,60.1646013 62.073289,60.1646013 C61.2993688,59.4365282 55.5624917,57.3928405 55.5624917,57.3928405 C53.2935548,56.2770598 55.7972093,59.086196 55.7972093,59.086196 C59.2227907,63.9011462 55.3711296,68.595 55.3711296,68.595 C53.7186379,69.9833721 55.7558472,69.7137708 55.7558472,69.7137708 C57.3365781,69.6350332 57.5653156,71.2152658 57.5653156,71.2152658 C51.2927243,75.3345349 52.6651495,84.1307143 52.6651495,84.1307143 C53.5990365,88.5036379 57.2533555,92.5650997 59.7779402,93.915598 L52.0113289,93.915598 C50.1859136,93.915598 47.9274419,92.4858638 47.9274419,90.6614452 L47.9274419,48.9948339 C47.9274419,47.1709136 50.1859136,46.6411794 52.0113289,46.6411794 L82.4244518,46.6411794 C84.2483721,46.6411794 85.0716279,47.1709136 85.0716279,48.9948339 L85.0716279,90.6614452 Z M67.3990365,105.38088 C65.9045183,105.38088 64.6935548,104.169917 64.6935548,102.6749 C64.6935548,101.18088 65.9045183,99.9704153 67.3990365,99.9704153 C68.8935548,99.9704153 70.1045183,101.18088 70.1045183,102.6749 C70.1045183,104.169917 68.8935548,105.38088 67.3990365,105.38088 L67.3990365,105.38088 Z M64.3143189,41.2386877 L70.8470432,41.2386877 C71.3483721,41.2386877 71.7545183,41.7504817 71.7545183,42.2513123 C71.7545183,42.7526412 71.3483721,43.2649336 70.8470432,43.2649336 L64.3143189,43.2649336 C63.81299,43.2649336 63.4063455,42.7526412 63.4063455,42.2513123 C63.4063455,41.7504817 63.8124917,41.2386877 64.3143189,41.2386877 L64.3143189,41.2386877 Z M88.4483721,41.0224086 C88.4483721,38.9044684 86.7310963,37.186196 84.6126578,37.186196 L48.3869103,37.186196 C46.2679734,37.186196 44.5506977,38.9044684 44.5506977,41.0224086 L44.5506977,107.638854 C44.5506977,109.757791 46.2679734,111.475565 48.3869103,111.475565 L84.6126578,111.475565 C86.7315947,111.475565 88.4488704,109.757791 88.4488704,107.638854 L88.4488704,41.0224086 L88.4483721,41.0224086 Z"></path>												        
													</g>
												</svg>
											</div>
											<h3 class="h2 name"><%= __("services.list.item5.name"); %></h3>
											<p><%= __("services.list.item5.resume"); %></p>
										</div>
										<!-- End item -->

									</div>
									<div class="col-6">
										
										<!-- Item -->
										<div class="item">
											<div class="icon">
												<svg width="138px" height="154px" viewBox="0 0 138 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
												    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(2.000000, 2.000000)">        
												        <polygon stroke-width="2" points="0 37.3789037 67.0171096 0 134.037209 37.3789037 134.037209 112.138206 67.0171096 149.515615 0 112.138206"></polygon>
												        <path d="M61.768206,100.71289 C61.5818272,100.71289 61.3949502,100.68897 61.2060797,100.640631 C54.8761794,99.0250166 49.7258472,96.7062458 45.8986047,93.750598 C40.7293355,89.7589037 37.8788372,84.5911296 37.4263455,78.3937874 C36.4819934,65.4085714 45.3783389,58.8354817 53.2351495,54.5597342 C53.971196,54.1570764 54.871196,54.1989369 55.5698671,54.6653821 C56.2670432,55.1313289 56.6492691,55.9451163 56.5590698,56.7808306 C56.4763455,57.5701993 56.6383056,58.2399668 56.9946179,58.5718605 C57.4431229,58.9899668 58.2648837,58.9216944 58.7148837,58.8419601 C59.8187043,58.649103 60.5243522,57.299103 60.3250166,55.7687043 C60.1690365,54.5567442 59.8515947,53.4000997 59.5152159,52.1756811 C58.9107309,49.9615615 58.2210299,47.4504319 58.4502658,44.2735216 C58.8235216,39.060897 61.6481063,34.3037542 66.8517608,30.1271761 C67.4846512,29.2117276 68.2730233,28.9984385 68.8540864,28.9859801 C69.7311628,28.9675415 70.5424585,29.4359801 71.0208638,30.2368106 C71.3866445,30.8467774 71.4434551,31.5962791 71.1728571,32.253588 C69.5333223,36.2462791 72.2193688,40.4816611 74.7603987,43.3316611 C76.6381395,45.4356478 78.6673754,47.368206 80.8147176,49.4128904 C85.6351495,54.0030897 90.6210299,58.7502658 93.6309967,65.4653821 C97.3172093,73.6884718 97.0411296,82.6296678 92.9143854,88.8000997 C89.4947841,93.9165449 84.2896346,97.5414618 76.0421262,100.551429 C74.8710299,100.981495 73.5738538,100.376512 73.1467774,99.206412 C72.7192027,98.0343189 73.3216944,96.7381395 74.4927907,96.3105648 C81.78299,93.6494352 86.3074086,90.5582392 89.160897,86.2889701 C92.431495,81.4002658 92.5645515,74.1280066 89.5112292,67.3122259 C86.8640532,61.407907 82.4133887,57.1705316 77.700598,52.6824917 C75.5836545,50.6657143 73.3934551,48.5806645 71.3916279,46.3381395 C68.58,43.1856478 66.8806645,39.957907 66.3464452,36.8607309 C64.2853156,39.3090698 63.1481063,41.8994352 62.9552492,44.5969435 C62.7833223,47.0029236 63.3115615,48.9369767 63.8721927,50.9836545 C64.2334884,52.3012625 64.6067442,53.6652159 64.8045847,55.1871429 C65.3168771,59.1220266 62.9841528,62.6821595 59.4942857,63.2901329 C57.2886379,63.6773422 55.3062458,63.1735216 53.9133887,61.8723588 C53.3831561,61.3760133 52.9570764,60.778505 52.6431229,60.1077409 C46.3780066,63.9499336 41.275515,69.0349834 41.9308306,78.0653821 C42.5706977,86.8510963 49.4328239,92.9736877 62.3263455,96.266711 C63.5343189,96.5751827 64.263887,97.8055814 63.9549169,99.0135548 C63.6927907,100.033654 62.7758472,100.71289 61.768206,100.71289"></path>
												        <path d="M68.9449834,96.3826246 C70.5287043,96.3826246 71.8124252,97.6668439 71.8124252,99.2500664 C71.8124252,100.833787 70.5287043,102.118007 68.9449834,102.118007 C67.3607641,102.118007 66.0775415,100.833787 66.0775415,99.2500664 C66.0775415,97.6668439 67.3607641,96.3826246 68.9449834,96.3826246"></path>
												        <path d="M61.3090864,87.5721429 C61.1192193,87.5721429 60.9333389,87.4759635 60.826196,87.3015449 L59.0705482,84.4056977 C58.9100831,84.1380897 58.993804,83.7917442 59.2609136,83.6302824 C59.5270266,83.4688206 59.8738704,83.5540365 60.0353322,83.8201495 L61.7919767,86.716495 C61.9529402,86.9831063 61.8677243,87.3294518 61.6021096,87.4919103 C61.5094186,87.5462292 61.4092525,87.5721429 61.3090864,87.5721429 M64.8218771,93.3653322 C64.630515,93.3653322 64.4451329,93.2681561 64.3389867,93.0937375 L62.5818439,90.1983887 C62.4218771,89.9302824 62.505598,89.5834385 62.7722093,89.4219767 C63.0398173,89.2615116 63.3856645,89.3467276 63.5481229,89.6113455 L65.3032724,92.507691 C65.4647342,92.7748007 65.3790199,93.1226412 65.1134053,93.2836047 C65.0222093,93.3389203 64.9215449,93.3653322 64.8218771,93.3653322 M68.3351661,99.1570266 C68.1428073,99.1570266 67.9569269,99.0598505 67.8507807,98.8859302 L66.0956312,95.9895847 C65.9336711,95.7224751 66.0178904,95.3761296 66.2840033,95.2146678 C66.551113,95.053206 66.8984551,95.1384219 67.0589203,95.4045349 L68.8150664,98.2998837 C68.9775249,98.5674917 68.8913123,98.9133389 68.6256977,99.0748007 C68.535,99.1301163 68.4333389,99.1570266 68.3351661,99.1570266 M71.8469601,104.949219 C71.6550997,104.949219 71.4697176,104.852043 71.3625748,104.678123 L69.6059302,101.781777 C69.4449668,101.514668 69.529186,101.167326 69.7962957,101.006362 C70.0634053,100.8449 70.4102492,100.930615 70.5712126,101.195731 L72.3273588,104.092076 C72.4893189,104.359684 72.4036047,104.706528 72.1384884,104.867492 C72.046794,104.922309 71.9456312,104.949219 71.8469601,104.949219 M74.7712126,109.772641 C74.5793522,109.772641 74.3939701,109.675465 74.2868272,109.501047 L73.1192193,107.57397 C72.9577575,107.306362 73.0419767,106.960017 73.308588,106.798555 C73.574701,106.637591 73.9215449,106.721811 74.0840033,106.988422 L75.2516113,108.915498 C75.4120764,109.182608 75.3278571,109.528953 75.0622425,109.690415 C74.9710465,109.745731 74.8698837,109.772641 74.7712126,109.772641"></path>
												        <path d="M76.3672924,109.1701 C77.535897,109.1701 78.4827409,110.116944 78.4827409,111.286545 C78.4827409,112.45515 77.535897,113.402492 76.3672924,113.402492 C75.197691,113.402492 74.2498505,112.45515 74.2498505,111.286545 C74.2498505,110.116944 75.197691,109.1701 76.3672924,109.1701"></path>
												        <path d="M59.0020764,81.362392 C60.1716777,81.362392 61.1195183,82.3097342 61.1195183,83.4793355 C61.1195183,84.6479402 60.1716777,85.5962791 59.0020764,85.5962791 C57.8334718,85.5962791 56.8856312,84.6479402 56.8856312,83.4793355 C56.8856312,82.3097342 57.8334718,81.362392 59.0020764,81.362392"></path>
												        <path d="M87.4034551,59.7362292 L82.347309,54.6815781 C82.0343522,54.3686213 81.5285382,54.3686213 81.2150831,54.6815781 L71.6031229,64.2935382 L71.5313621,64.2222757 C71.2622591,63.9521761 70.7439867,63.9556645 70.4743854,64.2267608 L69.9924917,64.7086545 C69.7228904,64.9782558 69.6665781,65.5498505 69.9356811,65.8189535 L70.3971429,66.2804153 L63.8110963,67.8133056 C63.5619269,67.8731063 63.3780399,68.0290864 63.2823588,68.2672924 L58.7066113,79.7694518 C58.5865116,80.0699502 58.6682392,80.3978571 58.888505,80.6181229 C58.9273754,80.656495 58.9861794,80.7018439 59.0325249,80.7332392 C59.3464784,80.9400498 59.7805316,80.9096512 60.0466445,80.6425415 L65.2896678,75.4010133 C65.1645847,75.0995183 65.0953156,74.7696179 65.0953156,74.4247674 C65.0953156,73.0104817 66.2409967,71.863804 67.6567774,71.863804 C69.0700664,71.863804 70.2172425,73.0104817 70.2172425,74.4247674 C70.2172425,75.8390532 69.0700664,76.9847342 67.6567774,76.9847342 C67.3139203,76.9847342 66.9890033,76.9164618 66.6880066,76.7943688 L61.4434884,82.0403821 C61.1773754,82.306495 61.13701,82.7246013 61.3433223,83.0390532 C61.3737209,83.084402 61.4100997,83.1272591 61.4474751,83.1656312 C61.6662458,83.3849003 61.9986379,83.4581561 62.2986379,83.3380565 L73.7913289,78.7757641 C74.0300332,78.6800831 74.1880066,78.4996844 74.248804,78.2475249 L75.7801993,71.6634718 L76.256113,72.1403821 C76.5262126,72.40799 77.1092691,72.3641362 77.3788704,72.0950332 L77.8602658,71.6121429 C78.1298671,71.3430399 78.122392,70.8128073 77.8522924,70.543206 L77.7924917,70.482907 L87.4054485,60.8694518 C87.7149169,60.5554983 87.7149169,60.0486877 87.4034551,59.7362292"></path>
												    </g>
												</svg>
											</div>
											<h3 class="h2 name"><%= __("services.list.item6.name"); %></h3>
											<p><%= __("services.list.item6.resume"); %></p>
										</div>
										<!-- End item -->

									</div>
								</div>
							</div>
						</div>
						<!-- End list -->

					</section>
					<!-- End services list -->

					<!-- Services info -->
					<section class="services-info">
						<div class="container">
							<div class="row display-as-table">
								<div class="col-6">
									<div class="info"><%- __("services.info.resume"); %></div>
								</div>
								<div class="col-6">
									<svg viewBox="0 0 564 595" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <defs>
									        <path d="M100.518467,137.680045 C93.7056761,128.876843 80.5921037,121.340811 80.5921037,121.340811 C76.1123048,119.169816 67.2787227,112.514899 67.2787227,112.514899 C51.1634808,96.0314608 69.904616,83.9081801 69.904616,83.9081801 C70.7208794,85.8157488 69.4981872,90.5699098 69.4981872,90.5699098 C67.8667957,95.0538318 71.1295787,92.2015623 71.1295787,92.2015623 C74.5217832,91.7950685 72.759835,94.9164415 72.759835,94.9164415 C72.3545415,99.4026344 74.3912265,96.8217393 74.3912265,96.8217393 C88.6525629,90.2974 96.9321303,96.0019389 96.9321303,96.0019389 C98.9722211,100.080503 103.867531,105.243428 103.867531,105.243428 C104.306883,106.77289 103.424773,111.457788 103.424773,111.457788 C103.117114,115.431889 105.053894,112.98952 105.053894,112.98952 C107.905708,110.949103 108.82301,107.994642 108.82301,107.994642 C109.434924,107.076057 116.363513,103.511855 116.363513,103.511855 C118.094809,103.105362 117.684974,100.563072 117.684974,100.563072 C125.532002,100.760642 123.290967,86.4152705 123.290967,86.4152705 C123.390871,80.8469864 120.541329,88.7406876 120.541329,88.7406876 C119.92828,90.4733959 118.808898,89.8568424 118.808898,89.8568424 C117.586205,86.801326 107.293794,74.4782048 107.293794,74.4782048 C108.724241,68.8701797 106.78519,65.5092252 106.78519,65.5092252 C103.626853,57.5621576 103.724486,63.774246 103.724486,63.774246 C104.037822,65.7102012 103.220424,66.8274915 103.014939,65.4058986 C102.806048,63.9729511 94.6649842,55.729529 94.6649842,55.729529 C91.3034322,51.1411449 74.1812005,30.5587051 74.1812005,30.5587051 C69.1905274,24.548728 73.3899131,32.4980666 73.3899131,32.4980666 L77.2441749,40.3395368 C82.7423163,48.3910666 78.569042,44.4158295 78.569042,44.4158295 L60.2297944,26.7912568 C55.6466855,21.5919965 58.4984986,26.7912568 58.4984986,26.7912568 L65.8460045,41.0503332 C68.2141901,44.7189967 67.2616936,44.9233791 67.2616936,44.9233791 C65.2181969,42.9896948 50.0338812,37.5849167 50.0338812,37.5849167 C44.0282715,34.6293205 50.6537419,42.0677032 50.6537419,42.0677032 C59.7189203,54.806402 49.5286834,67.230579 49.5286834,67.230579 C45.15333,70.9037843 50.5458907,70.1918524 50.5458907,70.1918524 C54.7271119,69.9851991 55.3333493,74.163683 55.3333493,74.163683 C38.7356151,85.0652114 42.3684981,108.410219 42.3684981,108.410219 C46.2352479,126.548019 67.8009497,138.925642 67.8009497,138.925642 C72.6985301,141.804027 76.1826919,146.133527 78.5066018,149.956613 L69.9205099,154.753921 L0.576720177,116.068881 L0.576720177,38.7101551 L69.9205099,0.0239794792 L139.265435,38.7101551 L139.265435,116.070016 L100.518467,137.680045 L100.518467,137.680045 Z" id="services-path-1"></path>
									        <polygon id="services-path-3" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-5" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-7" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-9" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-11" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-13" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-15" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-17" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-19" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-21" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-23" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-25" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-27" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-29" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									        <polygon id="services-path-31" points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									    </defs>
									    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <g transform="translate(0.000000, 2.000000)">
									            <ellipse stroke="#821F6B" stroke-width="2" cx="282.215975" cy="295.212161" rx="226.257089" ry="226.293292"></ellipse>
									            <ellipse stroke="#D61E20" stroke-width="2" cx="282.217111" cy="297.101563" rx="191.446123" ry="191.476756"></ellipse>
									            <polygon stroke="#821F6B" stroke-width="2" fill="#000000" points="1.13527594 256.340906 70.4802009 216.296723 139.823991 256.340906 139.823991 336.427001 70.4802009 376.470049 1.13527594 336.427001"></polygon>
									            <polygon stroke="#821F6B" stroke-width="2" fill="#000000" points="214.567153 40.0430475 283.910942 0 353.254732 40.0430475 353.254732 120.129142 283.910942 160.17219 214.567153 120.129142"></polygon>
									            <polygon stroke="#821F6B" stroke-width="2" fill="#000000" points="424 255.041912 493.344925 215 562.688715 255.041912 562.688715 335.128007 493.344925 375.171054 424 335.128007"></polygon>
									            <text fill="#821F6B" font-size="41.1867" font-weight="bold">
									                <tspan x="480" y="276">3</tspan>
									            </text>
									            <text fill="#821F6B" font-size="41.1867" font-weight="bold">
									                <tspan x="272.238943" y="59.7683192">2</tspan>
									            </text>
									            <text fill="#821F6B" font-size="41.1867" font-weight="bold">
									                <tspan x="61.3049007" y="276.039722">1</tspan>
									            </text>
									            <g transform="translate(212.296601, 217.823779)">
									                <g fill="#E71D33">
									                    <path d="M100.518467,137.680045 C93.7056761,128.876843 80.5921037,121.340811 80.5921037,121.340811 C76.1123048,119.169816 67.2787227,112.514899 67.2787227,112.514899 C51.1634808,96.0314608 69.904616,83.9081801 69.904616,83.9081801 C70.7208794,85.8157488 69.4981872,90.5699098 69.4981872,90.5699098 C67.8667957,95.0538318 71.1295787,92.2015623 71.1295787,92.2015623 C74.5217832,91.7950685 72.759835,94.9164415 72.759835,94.9164415 C72.3545415,99.4026344 74.3912265,96.8217393 74.3912265,96.8217393 C88.6525629,90.2974 96.9321303,96.0019389 96.9321303,96.0019389 C98.9722211,100.080503 103.867531,105.243428 103.867531,105.243428 C104.306883,106.77289 103.424773,111.457788 103.424773,111.457788 C103.117114,115.431889 105.053894,112.98952 105.053894,112.98952 C107.905708,110.949103 108.82301,107.994642 108.82301,107.994642 C109.434924,107.076057 116.363513,103.511855 116.363513,103.511855 C118.094809,103.105362 117.684974,100.563072 117.684974,100.563072 C125.532002,100.760642 123.290967,86.4152705 123.290967,86.4152705 C123.390871,80.8469864 120.541329,88.7406876 120.541329,88.7406876 C119.92828,90.4733959 118.808898,89.8568424 118.808898,89.8568424 C117.586205,86.801326 107.293794,74.4782048 107.293794,74.4782048 C108.724241,68.8701797 106.78519,65.5092252 106.78519,65.5092252 C103.626853,57.5621576 103.724486,63.774246 103.724486,63.774246 C104.037822,65.7102012 103.220424,66.8274915 103.014939,65.4058986 C102.806048,63.9729511 94.6649842,55.729529 94.6649842,55.729529 C91.3034322,51.1411449 74.1812005,30.5587051 74.1812005,30.5587051 C69.1905274,24.548728 73.3899131,32.4980666 73.3899131,32.4980666 L77.2441749,40.3395368 C82.7423163,48.3910666 78.569042,44.4158295 78.569042,44.4158295 L60.2297944,26.7912568 C55.6466855,21.5919965 58.4984986,26.7912568 58.4984986,26.7912568 L65.8460045,41.0503332 C68.2141901,44.7189967 67.2616936,44.9233791 67.2616936,44.9233791 C65.2181969,42.9896948 50.0338812,37.5849167 50.0338812,37.5849167 C44.0282715,34.6293205 50.6537419,42.0677032 50.6537419,42.0677032 C59.7189203,54.806402 49.5286834,67.230579 49.5286834,67.230579 C45.15333,70.9037843 50.5458907,70.1918524 50.5458907,70.1918524 C54.7271119,69.9851991 55.3333493,74.163683 55.3333493,74.163683 C38.7356151,85.0652114 42.3684981,108.410219 42.3684981,108.410219 C46.2352479,126.548019 67.8009497,138.925642 67.8009497,138.925642 C72.6985301,141.804027 76.1826919,146.133527 78.5066018,149.956613 L69.9205099,154.753921 L0.576720177,116.068881 L0.576720177,38.7101551 L69.9205099,0.0239794792 L139.265435,38.7101551 L139.265435,116.070016 L100.518467,137.680045 L100.518467,137.680045 Z"></path>
									                </g>
									                <g>
									                    <mask id="mask-2" fill="white">
									                        <use xlink:href="#services-path-1"></use>
									                    </mask>
									                    <g mask="url(#mask-2)">
									                        <g fill="#E71D33">
									                            <polygon points="69.9205099 0.0228440216 0.576720177 38.7101551 0.576720177 116.070016 69.9205099 154.755057 139.265435 116.070016 139.265435 38.7101551"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-4" fill="white">
									                                <use xlink:href="#services-path-3"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-4)" points="23.6863972 77.3929244 0.576720177 116.070016 35.2491827 96.7252254"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-6" fill="white">
									                                <use xlink:href="#services-path-5"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-6)" points="69.633285 77.5450757 104.588431 58.0481334 69.9205099 0.0228440216 35.0368861 58.3978543"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-8" fill="white">
									                                <use xlink:href="#services-path-7"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-8)" points="1.12619373 39.6276049 1.12619373 39.6276049 1.12619373 39.6276049 0.576720177 38.7101551 0.576720177 116.070016 23.6863972 77.3929244"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-10" fill="white">
									                                <use xlink:href="#services-path-9"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-10)" points="35.0368861 58.3978543 69.9205099 0.0228440216 0.576720177 38.7101551 1.12619373 39.6276049"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-12" fill="white">
									                                <use xlink:href="#services-path-11"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-12)" points="23.6863972 77.3929244 35.2491827 96.7252254 69.633285 77.5450757 35.0368861 58.3978543"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-14" fill="white">
									                                <use xlink:href="#services-path-13"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-14)" points="104.518044 96.8455839 116.144405 77.3929244 104.588431 58.0481334 69.633285 77.5450757"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-16" fill="white">
									                                <use xlink:href="#services-path-15"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-16)" points="1.12619373 39.6276049 23.6863972 77.3929244 35.0368861 58.3978543"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-18" fill="white">
									                                <use xlink:href="#services-path-17"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-18)" points="69.9205099 154.755057 139.265435 116.070016 104.518044 96.8455839"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-20" fill="white">
									                                <use xlink:href="#services-path-19"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-20)" points="116.144405 77.3929244 139.265435 38.7101551 104.588431 58.0481334"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-22" fill="white">
									                                <use xlink:href="#services-path-21"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-22)" points="104.588431 58.0481334 139.265435 38.7101551 69.9205099 0.0228440216"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-24" fill="white">
									                                <use xlink:href="#services-path-23"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-24)" points="139.265435 116.070016 139.265435 38.7101551 116.144405 77.3929244"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-26" fill="white">
									                                <use xlink:href="#services-path-25"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-26)" points="0.576720177 116.070016 69.9205099 154.755057 35.2491827 96.7252254"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-28" fill="white">
									                                <use xlink:href="#services-path-27"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-28)" points="69.633285 77.5450757 35.2491827 96.7252254 69.9205099 154.755057 104.518044 96.8455839"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-30" fill="white">
									                                <use xlink:href="#services-path-29"></use>
									                            </mask>									                            
									                            <polygon fill="#E71D33" mask="url(#mask-30)" points="104.518044 96.8455839 139.265435 116.070016 116.144405 77.3929244"></polygon>
									                        </g>
									                        <g>
									                            <mask id="mask-32" fill="white">
									                                <use xlink:href="#services-path-31"></use>
									                            </mask>									                            
									                            <path d="M152.537946,79.4730827 C152.537946,125.105988 115.552926,162.116228 69.9205099,162.116228 C24.2937698,162.116228 -12.7014672,125.105988 -12.7014672,79.4730827 C-12.7014672,33.8379066 24.2937698,-3.16211453 69.9205099,-3.16211453 C115.552926,-3.16211453 152.537946,33.8379066 152.537946,79.4730827 L152.537946,79.4730827 Z" fill="#D61E20" mask="url(#mask-32)"></path>
									                        </g>
									                    </g>
									                </g>
									            </g>
									            <ellipse fill="#D61E20" cx="116.914122" cy="140.082539" rx="8.01618341" ry="8.01746607"></ellipse>
									            <ellipse fill="#D61E20" cx="442.885903" cy="456.09969" rx="8.01618341" ry="8.01746607"></ellipse>
									            <ellipse fill="#D61E20" cx="124.92917" cy="456.09969" rx="8.01618341" ry="8.01746607"></ellipse>
									            <ellipse fill="#D61E20" cx="448.007132" cy="140.082539" rx="8.01618341" ry="8.01746607"></ellipse>
									            <polygon stroke="#821F6B" stroke-width="2" fill="#000000" points="214.567153 471.516933 283.910942 431.473885 353.254732 471.516933 353.254732 551.603028 283.910942 591.647211 214.567153 551.603028"></polygon>
									            <text fill="#821F6B" font-size="41.1867" font-weight="bold">
									                <tspan x="271.33095" y="488.370292">4</tspan>
									            </text>
									            <text font-size="16" font-weight="normal" line-spacing="20" fill="#FFFFFF">
									                <tspan x="243.359279" y="93.3465739"><%= __("services.info.topic1.top"); %></tspan>
									                <tspan x="235.773342" y="113.346574"><%= __("services.info.topic1.bottom"); %></tspan>
									            </text>
									            <text font-size="16" font-weight="normal" line-spacing="20" fill="#FFFFFF">
									                <tspan x="448.521026" y="310.218974"><%= __("services.info.topic2.top"); %></tspan>
									                <tspan x="446.302276" y="330.218974"><%= __("services.info.topic2.bottom"); %></tspan>
									            </text>
									            <text font-size="16" font-weight="normal" line-spacing="20" fill="#FFFFFF">
									                <tspan x="236.84756" y="520.278629"><%= __("services.info.topic3.top"); %></tspan>
									                <tspan x="251.523342" y="540.278629"><%= __("services.info.topic3.bottom"); %></tspan>
									            </text>
									            <text font-size="16" font-weight="normal" line-spacing="20" fill="#FFFFFF">
									                <tspan x="30.378064" y="309.083517"><%= __("services.info.topic4.top"); %></tspan>
									                <tspan x="27.2335328" y="329.083517"><%= __("services.info.topic4.bottom"); %></tspan>
									            </text>
									        </g>
									    </g>
									</svg>
								</div>
							</div>
						</div>
					</section>
					<!-- End services info -->

					<!-- Contact ways -->
					<% include includes/contact-ways %>
					<!-- End contact ways -->

					<!-- Footer -->
					<% include includes/footer %>
					<!-- End footer -->                    

				</div>
				<!-- End page content -->

			</div>
			<!-- End content -->            
		
		</div>
		<!-- End general wrapper -->

		<% include includes/bottom %>

	</body>
</html>