//
// application.scss
//
// It reflects the styles for the front-end project
//

// Import SASS global settings
@import "config";

/**
 * -------------------------
 * @info Generals
 * -------------------------
*/
html {
	margin-top: 0 !important;	
	&, body {
		width: 100%; height: 100%;

		// States
		&.scroll-lock {overflow: hidden;}
	}
	body {overflow-x: hidden;}

	// General wrapper
	#general-wrapper {
		background: $white;
		&, #content, .page-content {width: 100%; min-height: 100%;}

		// Content
		#content {
			position: relative;

			// Responsive rules
			@include breakpoint($xs){padding-top: 0px;}
		}
	}
}

/**
 * -------------------------
 * @info Header
 * -------------------------
*/
$header-ht: 100px;
#header {
	position: absolute; width: 100%; top: 0; left: 0; z-index: 2000;
	a {
		display: block; width: 100px; height: 100px; background: $plum; @include transition((height .35s));
		img {position: absolute; @include centered;}
	}

	// Container
	.container {position: relative; height: $header-ht;}	

	// Button menu
	.btn-menu {position: absolute; top: 0; right: 15px;}

	// Logo
	.logo {position: absolute; top: 0;}

	// Responsive rules
	@include breakpoint((max: $breakpoint-md - 1)){
		a {
			width: 60px; height: 60px;
			img {width: 60%;}
		}
		.container {height: 60px;}
	}	
}

//
// -------------------------
// @info Utilities
// -------------------------
//
@import "blocks";

//
// -------------------------
// @info Pages
// -------------------------
//
// @import "home";

/**
 * -------------------------
 * @info Footer
 * -------------------------
*/
#footer {
	background: $black; color: $white;
	ul, li {@include in-block;}
	ul {font-size: 0;}
	li {@include in-block;}
	.container {
		position: relative; height: 100px;
		> div {position: absolute; @include vertical-middle;}
	}

	// Copyright
	.copyright {width: 100%; padding-right: 300px;}

	// Social links
	.social-links {
		right: 15px;
		a, svg {width: 35px; height: 40px;}
		svg {
			.border, .bg {fill: transparent;}
			.border {stroke: $white;}
			.icon {fill: $white;}
		}
	}

	// Responsive rules
	@include breakpoint((min: $breakpoint-sm, max: $breakpoint-lg - 1)){
		font-size: 16px;
		.social-links li:last-child a {margin-right: 0;}
	}
	@include breakpoint($xs){
		padding: 60px 0 50px 0; font-size: 14px; text-align: center;
		.container {
			height: auto;	
			> div {position: relative; top: 0; @include transform((translateY(0)));}
		}
		.copyright {padding-right: 0;}
		.social-links {right: 0; margin-top: 20px;}
	}
}
