//
// blocks.scss
//
// It reflects the styles for most generic blocks
//

/**
 * -------------------------
 * @info Display as table
 * -------------------------
*/
.table-wrapper {padding-left: 0; padding-right: 0;}
.display-as-table {
	display: table; width: 100%; float: none; margin: 0;
	> div {display: table-cell; vertical-align: middle; float: none;}

	// Responsive rules
	@include breakpoint($xs){
		text-align: center; width: inherit;
		&, > div {display: block; width: 100%;}
		> div {
			margin-top: 25px;

			// Content
			&:first-child {margin-top: 0;}
		}
	}
}

/**
 * -------------------------
 * @info Section intro
 * -------------------------
*/
.section-intro {
	margin-bottom: 80px; text-align: center;
	.container {@include remove-child-margin-bottom;}
	.title {margin-top: 0; margin-bottom: 20px; color: $plum;}

	// Responsive rules
	@include breakpoint($xs){margin-bottom: 50px;}
}

/**
 * -------------------------
 * @info Social links
 * -------------------------
*/
.social-links {
	ul, li {@include remove-list-style();}
	svg {
		.border {stroke-width: 5;}

		// States
		html.no-touch.csstransitions & {
			.border, .bg, .icon {@include transition(all .35s);}
		}
	}
	a {
		display: block; margin: 0 9px;

		// States
		&:hover {
			.icon {fill: $white !important;}
			&.fb {
				.border {stroke: $fb-color !important;}
				.bg {fill: $fb-color !important;} 
			}
			&.tw {
				.border {stroke: $tw-color !important;}
				.bg {fill: $tw-color !important;} 
			}
			&.ig {
				.border {stroke: $ig-color !important;}
				.bg {fill: $ig-color !important;} 
			}
			&.ln {
				.border {stroke: $ln-color !important;}
				.bg {fill: $ln-color !important;} 
			}
		}
	}
}

/**
 * -------------------------
 * @info Top menu
 * -------------------------
*/
.top-menu {
	position: fixed; width: 100%; height: 100%; opacity: 0; top: -20px; z-index: -1; overflow: auto; @include transition((top .4s .15s, opacity .4s .15s)); background: rgba($black, .9);
	&, a {color: $white;}
	ul, li {@include remove-list-style;}
	li {position: relative;}

	// Container
	.container {
		&, > .row {height: 100%;}
		.row {
			padding: 120px 0 80px 0;
			> div {padding: 0;}
		}

		// Responsive rules
		@include breakpoint($xs){
			.row {
				padding: 0;
				
				> div {text-align: left;}

				// Content
				> div:last-child .contact-us .topic:first-child {display: none;}
			}
		}		
	}

	// Close button
	.btn-close-menu {
		display: block; position: absolute; top: 0; right: 15px; width: 100px; height: 100px; z-index: 1000; background: $black; @include transition((height .35s));
		img {position: absolute; @include centered;}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			width: 60px; height: 60px;
			img {width: 40%;}
		}
	}

	// Menu
	.menu {
		font-size: 50px;
		li {margin: 5px 0;}
		a {
			text-decoration: none; @include transition((padding-left .35s, color .35s));

			// States
			&.active, &:hover {
				padding-left: 35px; 
				&, span {color: $alizarin;}
				span {left: 0; opacity: 1;}
			}			
		}
		span {
			display: block; position: absolute; @include vertical-middle; left: -10px; opacity: 0; @include transition(all .35s); font-size: 25px;

			// Content
			&:after {content: "\f061"; font-family: "FontAwesome";}
		}		

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			font-size: 30px;
			li {margin: 10px 0;}
			a:hover {padding-left: 25px;}
			span {font-size: 20px;}
		}
		@include breakpoint($xs){padding-top: 40px;}
	}

	// Contact us
	.contact-us {
		text-align: right;
		strong {display: block; margin-bottom: 10px; font-size: 22px; color: $alizarin;}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			strong {font-size: 18px;}
		}
		@include breakpoint($xs){padding-bottom: 50px; text-align: left;}
	}

	// Social links
	.social-links {
		right: 15px;
		ul, li {@include in-block;}
		ul {font-size: 0;}
		li {
			@include in-block;

			// Childs
			&:last-child a {margin-right: 0;}
		}
		a, svg {width: 52px; height: 60px;}
		svg {
			.border, .bg {fill: transparent;}
			.border {stroke: $white;}
			.icon {fill: $white;}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			a, svg {width: 40px; height: 46px; }
		}
	}

	// States
	&.showed {top: 0; opacity: 1; z-index: 3000;}
	&.closing {top: -20px; opacity: 0;}

	// Responsive rules
	@include breakpoint($xs){
		
	}
	@include breakpoint($sm-only){
		
	}
}

/**
 * -------------------------
 * @info Top banner
 * -------------------------
*/
.top-banner {
	position: absolute; width: 100%; height: 1260px; background: no-repeat; background-size: auto 1260px;

	// Responsive rules
	@include breakpoint((max: $breakpoint-md - 1)){
		width: 100%; height: 100%; min-height: 600px !important;
	}
}

/**
 * -------------------------
 * @info Top info
 * -------------------------
*/
.top-info {
	position:relative; width: 100%; height: 100%; min-height: 600px !important; text-align: center;

	// Top banner
	.top-banner {
		display: none;

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){background-size: cover;}
	}

	// Info
	.info {		
		display: block; position: absolute; width: 100%; @include vertical-middle; left: 0; margin-top: -30px; color: $black;
		.title {
			margin: 0 0 20px 0;
			strong {color: $plum;}
		}
		.subtitle {margin: 0; font-family: "Raleway Light";}		

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			display: block; text-align: center;
			.row > div {width: 100%;}
			.title {font-size: 35px;}
			.subtitle {font-size: 25px;}
		}
	}

	// Scroll more
	.scroll-more {
		position: absolute; width: 80px; height: 180px; left: 50%; bottom: 0; margin-left: -40px;
		a, svg {width: 80px; height: 92px;}
		a, span {display: block;}
		a {position: absolute; top: 0;}
		span {position: absolute; width: 100%; @include centered; font-size: 16px; line-height: 18px;}

		// Content
		&:after {content: ""; display: block; position: absolute; left: 50%; bottom: 0; width: 1px; height: 88px; margin-left: -1px; background: $plum;}

	}

	// States
	&.has-banner {
		.top-banner {display: block;}
		.info {
			&, .title, .subtitle, strong {color: $white;}
		}
		.scroll-more {
			a {color: $white;}
			svg > g {stroke: $white;}

			// Content
			&:after {background: $white;}
		}
	}

	// Types	
	&.services .top-banner {background-image: url("../img/bg/services.jpg");}
}

/**
 * -------------------------
 * @info Page intro
 * -------------------------
*/
.page-intro {
	margin-bottom: 80px; overflow: hidden;
	.container {		
		> div {width: 50%; float: left;}
		h1, h2 {margin: 0;}
		h3 {margin-top: 0;}
		.wrapper {
			display: table; width: 100%; height: 550px; padding: 10%;
			> div {display: table-cell; vertical-align: middle; @include remove-child-margin-bottom;}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			> div {width: 100%; float: none;}
			.wrapper {
				height: auto; padding: 6% 10%;
				&, > div {display: block;}
			}
		}
	}

	// Title
	.title .wrapper {
		background: #EEEFF1;
		.page-title {color: $plum;}
		span {
			vertical-align: text-top;

			// Content
			&:after {content: "\f061"; font-family: "FontAwesome"; font-size: 25px;}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			text-align: center;
			span {
				display: block;

				// Content
				&:after {content: "\f063";}
			}
		}
	}

	// Resume
	.resume .wrapper {
		margin-top: 50px; background: $plum; color: $white;
		.subtitle {color: $white;}

		@include breakpoint((max: $breakpoint-md - 1)){margin-top: 0;}
	}
}

/**
 * -------------------------
 * @info Successful cases
 * -------------------------
*/
.successful-cases {
	.row > div {padding: 0;}

	// Item
	.item {
		display: block; position: relative; overflow: hidden; @include transition(all .75s);

		// Cover
		.cover img {width: 100%; height: auto;}

		// Project
		.project {
			position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: no-repeat center center; background-size: cover; @include transition(all .35s); 			

			// States
			html.no-touch.background-blend-mode & {background-blend-mode: multiply;}
			html.no-touch.csstransitions & {@include scale(1);}
		}

		// Info
		.info {
			display: block; position: absolute; @include centered; width: 450px; padding: 40px; opacity: 0; z-index: 1; border: 1px solid $white; font-size: 40px; font-weight: 700; text-decoration: none; color: $white; @include transition(all .35s);
			p {margin-bottom: 0;}
			span {display: block; margin-bottom: -5px; font-size: 18px;}
			i {font-size: 30px;}
		}

		// Content
		&:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; z-index: 10; height: 100%; opacity: 0; background: $plum; @include transition(all .35s);}		

		// States
		html.touch & {cursor: pointer;}
		&:hover {
			.project {				
				background-color: rgba($plum, .9);
				html.no-touch.csstransitions & {@include scale(1.05);}
			}
			.info {opacity: 1; z-index: 50;}			

			// Content
			&:before {
				opacity: .6;
				html.no-touch.background-blend-mode & {opacity: 0;}
			}
		}

		// Types
		&.not-bg {
			.info {opacity: 1; z-index: 50; border-color: transparent; font-family: "Raleway Bold"; color: $plum;}
		}

		// Responsive rules
		@include breakpoint($md-only){
			.info {width: 350px; padding: 35px; font-size: 35px;}
		}
		@include breakpoint($sm-only){
			.info {width: 300px; padding: 30px; font-size: 30px;}
		}
		@include breakpoint($xs){
			.info {
				width: 260px; height: 245px; padding: 20px;
				&, i {font-size: 24px;}
				span {font-size: 16px;}
			}
		}
	}
}

/**
 * -------------------------
 * @info Members list
 * -------------------------
*/
.members-list {
	.row > div {padding: 0;}

	// Item
	.item {
		display: block; position: relative; overflow: hidden; @include transition(all .75s);

		// Cover
		.cover img {width: 100%; height: auto;}

		// Member
		.member {
			&, > div {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: no-repeat top center; background-size: cover; @include transition(all .5s);}
			> div {z-index: 100; opacity: 0;}
		}

		// Info
		.info {
			display: block; position: absolute; width: 450px; left: 50%; bottom: 40px; @include transform((translateX(-50%))); z-index: 200; opacity: 0; font-size: 40px; font-weight: 700; text-decoration: none; color: $white; @include transition(all .35s);
			> div {
				padding: 40px; background: rgba(#821F6B, .75);}
			p {margin-bottom: 0;}
			span {display: block; font-size: 18px;}
		}

		// States
		html.touch & {cursor: pointer;}
		&:hover {
			.member > div, .info {opacity: 1;}
		}

		// Responsive rules
		@include breakpoint($md-only){
			.info {
				width: 350px; font-size: 35px;
				> div {padding: 35px;}
			}
		}
		@include breakpoint($sm-only){
			.info {
				width: 300px;
				> div {padding: 30px;}
			}
		}
		@include breakpoint($xs){
			.info {
				width: 260px;
				&, i {font-size: 24px;}				
				span {font-size: 16px;}
				> div {padding: 20px;}
			}
		}
		@include breakpoint((max: 600px)){
			.info {width: 100%; padding: 0 30px;}
		}
	}

	// Responsive rules
	@include breakpoint((min: 600px, max: 767px)){
		.row [class*='col-'] {width: 50%;}
	}
}

/**
 * -------------------------
 * @info Services list
 * -------------------------
*/
.services-list {
	margin-bottom: 80px;

	// Row
	.row {
		> [class*='col-'] {padding: 0; vertical-align: top; background: $white;}

		// Childs
		&:nth-child(odd) > [class*='col-']:first-child, &:nth-child(even) > [class*='col-']:last-child {
			background: #EEEFF1;
			.name {color: $plum;}
			.icon svg {
				polygon {stroke: $plum;}
				path, .arrows {fill: $plum;}
			}
		}

		// Responsive rules
		@include breakpoint($xs){
			> [class*='col-']:first-child {
				background: #EEEFF1 !important;
				.name {color: $plum !important;}
				.icon svg {
					polygon {stroke: $plum !important;}
					path, .arrows {fill: $plum !important;}
				}
			}
			> [class*='col-']:last-child {
				background: $white !important;
				.name {color: $alizarin !important;}
				.icon svg {
					polygon {stroke: $alizarin !important;}
					path, .arrows {fill: $alizarin !important;}
				}
			}
		}
	}
	
	// Item
	.item {
		padding: 70px; text-align: center; @include remove-child-margin-bottom;
		.name {color: $alizarin;}
		.icon svg {
			width: 139px; height: 156px;
			polygon {stroke: $alizarin;}
			path, .arrows {fill: $alizarin;}
		}
		
		// Responsive rules
		@include breakpoint((min: $breakpoint-sm, max: $breakpoint-lg - 1)){
			padding: 60px;
			.name {font-size: 30px;}
		}
		@include breakpoint($xs){
			padding: 35px 20px;
			.name {font-size: 25px;}
			.icon svg {width: 74px; height: 82px;}
		}

	}

	// Responsive rules
	@include breakpoint($xs){
		margin-bottom: 60px;
		.container {padding: 0;}
		.display-as-table > div {margin-top: 0;}
	}
}

.services-info {
	padding: 80px 0; background: $black; color: $white;
	.title {margin-top: 0; color: $alizarin;}
	.info {padding-right: 16.66667%;}
	svg {max-width: 563px;}

	// Responsive rules
	@include breakpoint($sm-only){
		.title {font-size: 35px;}
		.info {padding-right: 0;}
	}
	@include breakpoint($xs){
		padding: 60px 0;
		.info {padding-right: 0;}
	}
}

/**
 * -------------------------
 * @info Contact ways
 * -------------------------
*/
.contact-ways {
	padding-top: 80px; background: rgba(#EEEFF1, .3);
	
	// Ways
	.ways {
		overflow: hidden;
		span {display: block; position: absolute; @include centered; width: 450px; padding: 40px 0; border: 1px solid $white; font-size: 40px; font-weight: 700; text-align: center; color: $white;}
		i {font-size: 30px;}

		// Item
		.item {
			display: block; position: relative; width: 50%; float: left; overflow: hidden;
			.bg {width: 100%; height: 550px; background: no-repeat center center; background-size: cover; @include transition(all .35s);}
			
			// Types
			&.contact-us .bg {background-image: url("../img/bg/contact-us.jpg")}
			&.join-us .bg {background-image: url("../img/bg/join-us.jpg")}

			&:hover .bg {@include scale(1.05);}
		}

		// Responsive rules
		@include breakpoint($md-only){
			span {width: 350px; padding: 35px 0; font-size: 35px;}
			.item .bg {height: 500px;}
		}		
		@include breakpoint($sm-only){
			span {width: 300px; padding: 30px 0; font-size: 30px;}
			.item .bg {height: 450px;}
		}
		@include breakpoint($xs){
			span {width: 300px; padding: 30px 0; font-size: 30px;}
			.item {
				width: 100%; float: none;
				.bg {height: 220px;}
			}
		}
	}

	// Responsive rules
	@include breakpoint($xs){
		padding-top: 50px;
	}
}