@import url(vendor/reset.css);
/**
 * -------------------------
 * @section Generals
 * @info    This properties are for entire front-end and we could use whenever
 * -------------------------
*/
@import url(vendor/font-awesome.min.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  -webkit-text-size-adjust: none; }

body {
  min-width: 320px;
  background: #FFF;
  font-family: "Raleway Light", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
  color: #676F79; }
  @media screen and (max-width: 767px) {
    body {
      font-size: 16px; } }

/**
 * -------------------------
 * @info Misc
 * -------------------------
*/
img {
  -ms-interpolation-mode: bicubic;
  border: none; }
  img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }

.preloader {
  padding: 10px 0; }

/**
 * -------------------------
 * @section Dropdown
 * -------------------------
*/
.dropdown-menu > .link {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
.dropdown-menu > .content {
  position: absolute;
  display: none;
  z-index: 200; }

/**
 * -------------------------
 * @section Progress bar
 * -------------------------
*/
#progress {
  display: none;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

/**
 * -------------------------
 * @info Tabs
 * -------------------------
*/
.tabs-wrapper .tabs-content .tab-pane {
  display: none; }
.tabs-wrapper .tab.active {
  cursor: pointer; }

/**
 * -------------------------
 * @info Tabs navigation
 * -------------------------
*/
.tabs-nav {
  position: relative;
  z-index: 100; }

@media screen and (max-width: 767px) {
  .tabs-nav, .tabs-content {
    display: none; } }

/**
 * -------------------------
 * @info Tab
 * -------------------------
*/
.tab {
  display: block;
  width: 100%;
  margin-bottom: -1px;
  border: 0px solid transparent;
  border-bottom: 0px solid #F6F6F6;
  border-top: none;
  text-decoration: none; }
  .tab span {
    display: block;
    position: relative;
    padding: 10px 25px;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: #FFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: "Avant Demi"; }
    .tab span:after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 3px;
      left: 50%;
      bottom: 0px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #FFF;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
  .tab.active {
    border-color: #F6F6F6;
    border-bottom-color: #F6F6F6;
    color: #676F79; }
    .tab.active span {
      background: #FFF;
      border-bottom-color: #F2A432; }
      .tab.active span:after {
        width: 100%; }
  @media screen and (max-width: 767px) {
    .tab span {
      padding: 10px;
      font-size: 16px; } }

/**
 * -------------------------
 * @info Tabs pane
 * -------------------------
*/
.tab-pane {
  padding: 45px 0 0 0; }
  @media screen and (max-width: 767px) {
    .tab-pane .tabs-nav {
      display: block; } }

/**
 * -------------------------
 * @info Responsive tabs
 * -------------------------
*/
.responsive-tabs {
  display: none;
  font-size: 0; }
  .responsive-tabs > ul, .responsive-tabs > ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .responsive-tabs > ul {
    margin-bottom: -20px; }
  .responsive-tabs > ul > li {
    margin-bottom: 20px; }
  .responsive-tabs .tab {
    display: block;
    margin: 0; }
    .responsive-tabs .tab span {
      background: url("../img/icons/right-arrow-tab.png") no-repeat 96% center #F9F9F9; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .responsive-tabs .tab span {
          background-image: url("../img/icons/right-arrow-tab2x.png");
          background-size: 6px 12px; } }
    .responsive-tabs .tab:hover span {
      background-color: #F6F6F6; }
    .responsive-tabs .tab.active span {
      background: url("../img/icons/bottom-arrow-tab.png") no-repeat 96% center #FAFAFA; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .responsive-tabs .tab.active span {
          background-image: url("../img/icons/bottom-arrow-tab2x.png");
          background-size: 12px 5px; } }
    .responsive-tabs .tab.active + .info {
      display: block; }
  .responsive-tabs > ul > li > .info {
    display: none;
    padding: 30px 0 5px 0;
    font-size: 18px; }
  @media screen and (max-width: 767px) {
    .responsive-tabs {
      display: block; } }

/**
 * -------------------------
 * @section Generals
 * -------------------------
*/
.vamiddle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.no-border {
  border: none !important; }

.no-border-top {
  border-top: none !important; }

.no-border-left {
  border-left: none !important; }

.no-border-right {
  border-right: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

/**
 * -------------------------
 * @info Form
 * -------------------------
*/
form > *:last-child {
  margin-bottom: 0; }
form > .page {
  margin-top: 0; }

/**
 * -------------------------
 * @info Form message
 * -------------------------
*/
.form-msg {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600; }
  .form-msg b {
    display: block;
    margin-bottom: 25px; }
  .form-msg.success {
    color: #090; }
  .form-msg.error {
    color: #E02128; }

/**
 * -------------------------
 * @info Form group
 * -------------------------
*/
.form-group {
  position: relative;
  margin-bottom: 25px; }
  .form-group > *:last-child {
    margin-bottom: 0; }
  .form-group > .page {
    margin-top: 0; }
  .form-group i {
    color: #676F79; }
  .form-group.has-label label {
    margin-top: -7px;
    display: block; }
  .form-group.has-icon > div {
    position: relative;
    text-align: left; }
  .form-group.has-icon i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    font-size: 20px;
    color: #676F79; }
  .form-group.has-icon input {
    padding-right: 45px; }
  .form-group.has-counter label {
    padding-right: 30px; }
  .form-group.has-counter .counter {
    position: absolute;
    top: 3px;
    right: 0px;
    font-size: 14px; }
    .form-group.has-counter .counter.warning {
      color: #E02128; }

/**
 * -------------------------
 * @info Label
 * -------------------------
*/
label {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: 5px;
  font-family: "Raleway Light", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #676F79; }
  label span {
    color: #F46C5F; }
  label em {
    font-size: 14px;
    font-style: normal; }

/**
 * -------------------------
 * @info Form control
 * -------------------------
*/
.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  background-color: #FFF;
  border: 1px solid #676F79;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Raleway Light", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #676F79;
  -webkit-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  -moz-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  -o-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out; }
  .form-control::-moz-placeholder {
    color: #676f79;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #676f79; }
  .form-control::-webkit-input-placeholder {
    color: #676f79; }
  .form-control.placeholder {
    color: #676f79; }
  .form-control:focus {
    /*border-color: $color;*/
    outline: 0; }
  .form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #F6F6F6;
    opacity: 1; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .form-control {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .form-control {
      font-size: 16px; } }
  @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 0) {
    html.touch .form-control:focus {
      font-size: 16px; } }

/**
 * -------------------------
 * @info Fields separator
 * -------------------------
*/
.fields-separator {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-weight: 700;
  border-bottom: 1px solid #E4E4E4; }
  @media screen and (max-width: 767px) {
    .fields-separator {
      margin-bottom: 25px;
      padding-bottom: 5px; } }

/**
 * -------------------------
 * @info Custom file
 * @see  https://github.com/filamentgroup/jQuery-Custom-File-Input
 * -------------------------
*/
.customfile-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  cursor: pointer;
  background: none;
  border: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  z-index: 999; }

.customfile {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden; }

.customfile-feedback {
  display: block;
  position: relative;
  margin: 3px 0 6px 0;
  padding-right: 35px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/**
 * -------------------------
 * @info Select
 * -------------------------
*/
.select-wrapper {
  width: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  vertical-align: middle; }
  .select-wrapper select.form-control {
    background: #FFF; }

/**
 * -------------------------
 * @info Custom selects styles (CSS)
 * @see  http://red-team-design.com/making-html-dropdowns-not-suck/
 * -------------------------
*/
html.pointerevents .select-wrapper select {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  html.pointerevents .select-wrapper select[disabled] {
    color: #626262; }
html.pointerevents .select-wrapper:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 1px;
  top: 1px;
  z-index: 20;
  text-align: center;
  background: url("../img/icons/select-down-arrow.png") no-repeat center center #FFF; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    html.pointerevents .select-wrapper:after {
      background-image: url("../img/icons/select-down-arrow2x.png");
      background-size: 12px 6px; } }

/**
 * -------------------------
 * @info Textarea
 * -------------------------
*/
textarea.form-control {
  height: 120px;
  resize: none; }

/**
 * -------------------------
 * @info Checkboxes and radios
 * -------------------------
*/
.radio, .checkbox {
  display: block;
  min-height: 15px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .radio label, .checkbox label {
    display: inline;
    cursor: pointer; }

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 1px;
  margin: 0;
  padding: 0; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline, .checkbox-inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer; }

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 20px; }

input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.radio-inline[disabled], fieldset[disabled]
.radio-inline,
.checkbox[disabled], fieldset[disabled]
.checkbox,
.checkbox-inline[disabled], fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

/**
 * -------------------------
 * @info Custom checkboxes styles (CSS)
 * @see  http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
 * -------------------------
*/
html.opacity input[type="checkbox"] {
  width: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }
  html.opacity input[type="checkbox"] + label {
    margin: 0;
    padding-left: 8px;
    font-size: 0; }
    html.opacity input[type="checkbox"] + label span {
      display: inline-block;
      zoom: 1;
      *display: inline;
      cursor: pointer;
      font-size: 18px;
      line-height: 24px;
      color: #676F79; }
      html.opacity input[type="checkbox"] + label span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0px;
        width: 20px;
        height: 20px;
        background: url("../img/icons/input-checkbox.png") no-repeat 0 0; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          html.opacity input[type="checkbox"] + label span:after {
            background-image: url("../img/icons/input-checkbox2x.png");
            background-size: 20px 40px; } }
html.opacity input[type="checkbox"]:checked + label span:after {
  background-position: 0 -20px; }

html.opacity .radio {
  min-height: 30px;
  padding-left: 40px; }
html.opacity input[type="radio"] {
  width: 30px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }
  html.opacity input[type="radio"] + label {
    margin: 0;
    font-size: 0; }
    html.opacity input[type="radio"] + label span {
      display: inline-block;
      zoom: 1;
      *display: inline;
      padding-top: 3px;
      cursor: pointer;
      font-size: 18px;
      line-height: 24px;
      color: #676F79; }
      html.opacity input[type="radio"] + label span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 3px;
        width: 30px;
        height: 30px;
        background: url("../img/icons/input-radio.png") no-repeat 0 0; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          html.opacity input[type="radio"] + label span:after {
            background-image: url("../img/icons/input-radio2x.png");
            background-size: 30px 60px; } }
html.opacity input[type="radio"]:checked + label span:after {
  background-position: 0 -30px; }

/**
 * -------------------------
 * @info Fieldset
 * -------------------------
*/
fieldset {
  border: 1px solid #E4E4E4;
  margin-bottom: 30px;
  padding: 0px 30px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 0; }
  fieldset > *:last-child {
    margin-bottom: 0; }
  fieldset > .page {
    margin-top: 0; }

/**
 * -------------------------
 * @info Legend
 * -------------------------
*/
legend {
  margin: 0 0 15px -10px;
  padding: 0 10px;
  font-size: 18px;
  color: #626262; }

/**
 * -------------------------
 * @info Form control with icon
 * -------------------------
*/
.control-has-icon {
  position: relative; }
  .control-has-icon .form-control {
    padding-right: 40px; }
  .control-has-icon i, .control-has-icon button {
    position: absolute;
    right: 1px;
    top: 1px;
    display: block;
    width: 40px;
    height: 42px;
    line-height: 44px;
    background: #FFF;
    font-size: 22px;
    text-align: center;
    color: #676F79;
    border: 0; }

/**
 * -------------------------
 * @info Help block
 * -------------------------
*/
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 17px;
  color: #B2B0B0; }

/**
 * -------------------------
 * @info Error
 * -------------------------
*/
.has-error .form-control, .has-error #recaptcha_response_field {
  border: 1px solid #E02128 !important;
  color: #E02128; }
  .has-error .form-control:focus, .has-error #recaptcha_response_field:focus {
    /*border-color: $color;*/
    outline: 0; }
  .has-error .form-control::-moz-placeholder, .has-error #recaptcha_response_field::-moz-placeholder {
    color: #e02128;
    opacity: 1; }
  .has-error .form-control:-ms-input-placeholder, .has-error #recaptcha_response_field:-ms-input-placeholder {
    color: #e02128; }
  .has-error .form-control::-webkit-input-placeholder, .has-error #recaptcha_response_field::-webkit-input-placeholder {
    color: #e02128; }
.has-error .error {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300; }
.has-error .error, .has-error i {
  color: #E02128 !important; }
.has-error .checkbox .error, .has-error .radio .error {
  padding-left: 5px; }

/**
 * -------------------------
 * @info Buttons
 * -------------------------
*/
.btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 0;
  z-index: 1;
  overflow: hidden;
  outline: 0;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Raleway Bold", sans-serif;
  font-weight: 400;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding: 13px 20px;
  font-size: 14px;
  line-height: 14px; }
  .btn img {
    vertical-align: top;
    margin-right: 10px; }
  .btn i {
    padding: 0 5px;
    font-size: 22px;
    line-height: 18px; }
    .btn i.first {
      padding-left: 0; }
    .btn i.last {
      padding-right: 0; }
  .btn:hover, .btn:focus {
    text-decoration: none; }

/**
 * -------------------------
 * @info Buttons variants
 * -------------------------
*/
.btn-primary {
  background: #DA1F26;
  border-color: #DA1F26; }
  .btn-primary, .btn-primary i {
    color: #FFF; }
  .btn-primary:hover {
    color: #FFF;
    background: #c41c22;
    border-color: #c41c22; }
  .btn-primary:active, .btn-primary.active {
    background-image: none;
    color: #FFF;
    background: #ad191e;
    border-color: #ad191e;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #FFF;
      background: rgba(218, 31, 38, 0.5);
      border-color: rgba(218, 31, 38, 0.5); }

.btn-fb {
  background: #3B5998;
  border-color: #3B5998; }
  .btn-fb, .btn-fb i {
    color: #FFF; }
  .btn-fb:hover {
    color: #FFF;
    background: #37538d;
    border-color: #37538d; }
  .btn-fb:active, .btn-fb.active {
    background-image: none;
    color: #FFF;
    background: #344e86;
    border-color: #344e86;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-fb.disabled, .btn-fb[disabled], fieldset[disabled] .btn-fb {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-fb.disabled, .btn-fb.disabled:hover, .btn-fb.disabled:active, .btn-fb.disabled.active, .btn-fb[disabled], .btn-fb[disabled]:hover, .btn-fb[disabled]:active, .btn-fb[disabled].active, fieldset[disabled] .btn-fb, fieldset[disabled] .btn-fb:hover, fieldset[disabled] .btn-fb:active, fieldset[disabled] .btn-fb.active {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #FFF;
      background: #718dc8;
      border-color: #718dc8; }

.btn-tw {
  background: #00ACED;
  border-color: #00ACED; }
  .btn-tw, .btn-tw i {
    color: #FFF; }
  .btn-tw:hover {
    color: #FFF;
    background: #00a1de;
    border-color: #00a1de; }
  .btn-tw:active, .btn-tw.active {
    background-image: none;
    color: #FFF;
    background: #0099d4;
    border-color: #0099d4;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-tw.disabled, .btn-tw[disabled], fieldset[disabled] .btn-tw {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-tw.disabled, .btn-tw.disabled:hover, .btn-tw.disabled:active, .btn-tw.disabled.active, .btn-tw[disabled], .btn-tw[disabled]:hover, .btn-tw[disabled]:active, .btn-tw[disabled].active, fieldset[disabled] .btn-tw, fieldset[disabled] .btn-tw:hover, fieldset[disabled] .btn-tw:active, fieldset[disabled] .btn-tw.active {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #FFF;
      background: #54d0ff;
      border-color: #54d0ff; }

/**
 * -------------------------
 * @info Button Sizes
 * -------------------------
*/
.btn-lg {
  padding: 20px 30px;
  font-size: 22px;
  line-height: 22px; }

.btn-sm {
  padding: 8px 15px;
  font-size: 14px;
  line-height: 14px;
  height: 40px;
  line-height: 20px; }

.btn-xs {
  padding: 1px 20px;
  font-size: 14px;
  line-height: 14px; }

/**
 * -------------------------
 * @info Block button
 * -------------------------
*/
.btn-block {
  display: block;
  width: 100%;
  text-align: center; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%; }

/**
 * -------------------------
 * @info Icon button
 * -------------------------
*/
.btn-icon {
  padding-left: 15px;
  padding-right: 55px; }
  .btn-icon i {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    padding: 14px 0px 12px 0px;
    font-size: 25px;
    letter-spacing: 0;
    text-align: center; }

/**
 * -------------------------
 * @info Menu button
 * -------------------------
*/
.btn-menu {
  position: relative;
  width: 60px;
  height: 25px;
  padding: 0px 15px;
  background: url("../img/bg/transparent.png"); }
  .btn-menu, .btn-menu span {
    display: block; }
  .btn-menu span {
    background: #FFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .btn-menu.burger span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .btn-menu.burger span:nth-child(1) {
      top: 0px; }
    .btn-menu.burger span:nth-child(2), .btn-menu.burger span:nth-child(3) {
      top: 10px; }
    .btn-menu.burger span:nth-child(4) {
      top: 20px; }
  .btn-menu.burger.opened span:nth-child(1), .btn-menu.burger.opened span:nth-child(4) {
    width: 0%;
    top: 10px;
    left: 50%; }
  .btn-menu.burger.opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-menu.burger.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .btn-menu.single span {
    width: 20px;
    height: 2px;
    margin-bottom: 4px; }
  .btn-menu.single.opened span {
    -webkit-transform-origin: 6px;
    -moz-transform-origin: 6px;
    -ms-transform-origin: 6px;
    -o-transform-origin: 6px;
    transform-origin: 6px; }
    .btn-menu.single.opened span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .btn-menu.single.opened span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .btn-menu.back span {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 3px; }
    .btn-menu.back span:nth-child(1) {
      top: 42px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .btn-menu.back span:nth-child(2) {
      top: 55px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

/**
 * -------------------------
 * @info  Set Font Face Fonts
 * -------------------------
*/
@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/raleway-light.ttf") format("truetype"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }
/**
 * -------------------------
 * @info Typography
 * -------------------------
*/
.form-control.arial, .arial {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.raleway-light {
  font-family: "Raleway Light"; }

.raleway-regular {
  font-family: "Raleway Regular"; }

.raleway-bold {
  font-family: "Raleway Bold"; }

/**
 * -------------------------
 * @info Text
 * -------------------------
*/
.text-removed {
  text-decoration: line-through; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

b, strong {
  font-family: "Raleway Bold";
  font-weight: 800; }

/**
 * -------------------------
 * @info Headings
 * -------------------------
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway Bold", sans-serif, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #000; }

h1, h2, h3, .h1, .h2, .h3 {
  font-weight: 400; }

h1, .h1 {
  font-size: 60px; }

h2, .h2 {
  font-size: 40px; }

h3, .h3 {
  font-size: 20px; }

h4, .h4 {
  font-size: 16px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

@media screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 50px; }

  h2, .h2 {
    font-size: 30px; } }
/**
 * -------------------------
 * @info Paragraphs
 * -------------------------
*/
p {
  margin: 0 0 25px; }

.lead {
  font-size: 20px;
  color: #FFF; }

.small {
  font-size: 14px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lead {
    font-size: 18px; }

  .small {
    font-size: 14px; } }
@media screen and (max-width: 767px) {
  .lead {
    font-size: 16px; }

  .small {
    font-size: 12px; } }
/**
 * -------------------------
 * @info Lists
 * -------------------------
*/
ul, ol {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 30px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 30px;
    margin-bottom: 30px; }
  ul li, ol li {
    margin-top: 0;
    margin-bottom: 0; }

/**
 * -------------------------
 * @info Links
 * -------------------------
*/
a {
  color: #821F6B;
  text-decoration: underline; }
  a:hover {
    color: #c02e9e; }
  a.text-decoration-hover {
    text-decoration: none; }
    a.text-decoration-hover:hover {
      text-decoration: underline; }
  a.highlighted-link {
    color: #DA1F26; }
    a.highlighted-link:hover {
      color: #ad191e; }
  a.delete-item {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #BDBDBD;
    font-size: 20px;
    line-height: 28px;
    text-align: center; }
    a.delete-item:hover {
      border-color: #a4a4a4;
      color: #a4a4a4; }

/**
 * -------------------------
 * @info Code
 * -------------------------
*/
code, kbd, pre, samp {
  font-family: Monospace, serif;
  font-size: 18px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  margin: 30px 0;
  overflow: auto;
  padding: 0 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * -------------------------
 * @info Code
 * -------------------------
*/
blockquote {
  margin: 30px;
  padding: 10px;
  background: none;
  border-left: 5px solid #000;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #FFF;
  text-align: right; }
  blockquote > *:last-child {
    margin-bottom: 0; }
  blockquote > .page {
    margin-top: 0; }
  blockquote, blockquote q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none; }
    blockquote:before, blockquote:after, blockquote q:before, blockquote q:after {
      content: "";
      content: none; }
  blockquote blockquote {
    margin-right: 0; }
  blockquote cite, blockquote small {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase; }
  blockquote em, blockquote i {
    font-style: normal;
    font-weight: 300; }
  blockquote strong, blockquote b {
    font-weight: 400; }

/**
 * -------------------------
 * @info Box model
 * -------------------------
*/
.show {
  display: block !important; }

.hide {
  display: none !important; }

.shown {
  opacity: 1;
  filter: alpha(opacity=100); }

.hidden {
  opacity: 0;
  filter: alpha(opacity=0); }

.in-block {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.middle {
  vertical-align: middle; }

.vmiddle {
  visibility: hidden; }

.vbottom {
  vertical-align: bottom; }

/**
 * -------------------------
 * @info Grid rules
 * -------------------------
*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.no-pull {
  float: none !important; }

.ow-hidden {
  overflow: hidden; }

.clear-fix, .container, .row {
  zoom: 1; }

.clear-fix:before, .clear-fix:after, .container:before, .row:before, .container:after, .row:after {
  content: " ";
  height: 0;
  clear: both;
  display: table; }

.clear {
  clear: both; }

/**
 * -------------------------
 * @info Grid
 * -------------------------
*/
.common-wrapper {
  padding-left: 90px; }
  .common-wrapper.fluid {
    padding: 0 0 0 90px; }
    @media screen and (max-width: 767px) {
      .common-wrapper.fluid {
        padding: 0; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .common-wrapper {
      padding: 0 60px 0 150px; } }
  @media screen and (max-width: 767px) {
    .common-wrapper {
      padding: 0 60px; } }

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:last-child > div > *:last-child {
    margin-bottom: 0; }
  .row:last-child > div > .page {
    margin-top: 0; }
  .row > div {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px; }
    @media screen and (max-width: 767px) {
      .row > div {
        width: 100%; } }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/**
 * -------------------------
 * @info  FadeIn
 * @see   Mossio
 * http://mossiolab.com/sidelineswap.html
 * -------------------------
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/**
 * -------------------------
 * @info  Soft scale
 * @see   Codrops
 * http://tympanus.net/codrops/2014/03/18/inspiration-for-item-transitions/
 * -------------------------
*/
@-webkit-keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-ms-keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-ms-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
/**
 * -------------------------
 * @info  Blink
 * @see   Typed.js
 * http://www.mattboldt.com/demos/typed-js/
 * -------------------------
*/
@-webkit-keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
/**
 * -------------------------
 * @info  Loader
 * @see   CSS Spinner
 * https://www.domsammut.com/projects/pure-css-loading-animation
 * -------------------------
*/
@-webkit-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/**
 * -------------------------
 * @info  Pulse
 * @see   LEVEL
 * http://level-barvikha.ru/#suburbs-capital
 * -------------------------
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
/**
 * -------------------------
 * @info Generals
 * -------------------------
*/
html {
  margin-top: 0 !important; }
  html, html body {
    width: 100%;
    height: 100%; }
    html.scroll-lock, html body.scroll-lock {
      overflow: hidden; }
  html body {
    overflow-x: hidden; }
  html #general-wrapper {
    background: #FFF; }
    html #general-wrapper, html #general-wrapper #content, html #general-wrapper .page-content {
      width: 100%;
      min-height: 100%; }
    html #general-wrapper #content {
      position: relative; }
      @media screen and (max-width: 767px) {
        html #general-wrapper #content {
          padding-top: 0px; } }

/**
 * -------------------------
 * @info Header
 * -------------------------
*/
#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000; }
  #header a {
    display: block;
    width: 100px;
    height: 100px;
    background: #821F6B;
    -webkit-transition: height 0.35s;
    -moz-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;
    transition: height 0.35s; }
    #header a img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  #header .container {
    position: relative;
    height: 100px; }
  #header .btn-menu {
    position: absolute;
    top: 0;
    right: 15px; }
  #header .logo {
    position: absolute;
    top: 0; }
  @media screen and (max-width: 991px) {
    #header a {
      width: 60px;
      height: 60px; }
      #header a img {
        width: 60%; }
    #header .container {
      height: 60px; } }

/**
 * -------------------------
 * @info Display as table
 * -------------------------
*/
.table-wrapper {
  padding-left: 0;
  padding-right: 0; }

.display-as-table {
  display: table;
  width: 100%;
  float: none;
  margin: 0; }
  .display-as-table > div {
    display: table-cell;
    vertical-align: middle;
    float: none; }
  @media screen and (max-width: 767px) {
    .display-as-table {
      text-align: center;
      width: inherit; }
      .display-as-table, .display-as-table > div {
        display: block;
        width: 100%; }
      .display-as-table > div {
        margin-top: 25px; }
        .display-as-table > div:first-child {
          margin-top: 0; } }

/**
 * -------------------------
 * @info Section intro
 * -------------------------
*/
.section-intro {
  margin-bottom: 80px;
  text-align: center; }
  .section-intro .container > *:last-child {
    margin-bottom: 0; }
  .section-intro .container > .page {
    margin-top: 0; }
  .section-intro .title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #821F6B; }
  @media screen and (max-width: 767px) {
    .section-intro {
      margin-bottom: 50px; } }

/**
 * -------------------------
 * @info Social links
 * -------------------------
*/
.social-links ul, .social-links li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.social-links svg .border {
  stroke-width: 5; }
html.no-touch.csstransitions .social-links svg .border, html.no-touch.csstransitions .social-links svg .bg, html.no-touch.csstransitions .social-links svg .icon {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }
.social-links a {
  display: block;
  margin: 0 9px; }
  .social-links a:hover .icon {
    fill: #FFF !important; }
  .social-links a:hover.fb .border {
    stroke: #3B5998 !important; }
  .social-links a:hover.fb .bg {
    fill: #3B5998 !important; }
  .social-links a:hover.tw .border {
    stroke: #00ACED !important; }
  .social-links a:hover.tw .bg {
    fill: #00ACED !important; }
  .social-links a:hover.ig .border {
    stroke: #517FA4 !important; }
  .social-links a:hover.ig .bg {
    fill: #517FA4 !important; }
  .social-links a:hover.ln .border {
    stroke: #007BB6 !important; }
  .social-links a:hover.ln .bg {
    fill: #007BB6 !important; }

/**
 * -------------------------
 * @info Top menu
 * -------------------------
*/
.top-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: -20px;
  z-index: -1;
  overflow: auto;
  -webkit-transition: top 0.4s 0.15s, opacity 0.4s 0.15s;
  -moz-transition: top 0.4s 0.15s, opacity 0.4s 0.15s;
  -ms-transition: top 0.4s 0.15s, opacity 0.4s 0.15s;
  -o-transition: top 0.4s 0.15s, opacity 0.4s 0.15s;
  transition: top 0.4s 0.15s, opacity 0.4s 0.15s;
  background: rgba(0, 0, 0, 0.9); }
  .top-menu, .top-menu a {
    color: #FFF; }
  .top-menu ul, .top-menu li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .top-menu li {
    position: relative; }
  .top-menu .container, .top-menu .container > .row {
    height: 100%; }
  .top-menu .container .row {
    padding: 120px 0 80px 0; }
    .top-menu .container .row > div {
      padding: 0; }
  @media screen and (max-width: 767px) {
    .top-menu .container .row {
      padding: 0; }
      .top-menu .container .row > div {
        text-align: left; }
      .top-menu .container .row > div:last-child .contact-us .topic:first-child {
        display: none; } }
  .top-menu .btn-close-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    background: #000;
    -webkit-transition: height 0.35s;
    -moz-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;
    transition: height 0.35s; }
    .top-menu .btn-close-menu img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    @media screen and (max-width: 991px) {
      .top-menu .btn-close-menu {
        width: 60px;
        height: 60px; }
        .top-menu .btn-close-menu img {
          width: 40%; } }
  .top-menu .menu {
    font-size: 50px; }
    .top-menu .menu li {
      margin: 5px 0; }
    .top-menu .menu a {
      text-decoration: none;
      -webkit-transition: padding-left 0.35s, color 0.35s;
      -moz-transition: padding-left 0.35s, color 0.35s;
      -ms-transition: padding-left 0.35s, color 0.35s;
      -o-transition: padding-left 0.35s, color 0.35s;
      transition: padding-left 0.35s, color 0.35s; }
      .top-menu .menu a.active, .top-menu .menu a:hover {
        padding-left: 35px; }
        .top-menu .menu a.active, .top-menu .menu a.active span, .top-menu .menu a:hover, .top-menu .menu a:hover span {
          color: #DA1F26; }
        .top-menu .menu a.active span, .top-menu .menu a:hover span {
          left: 0;
          opacity: 1; }
    .top-menu .menu span {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -10px;
      opacity: 0;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      font-size: 25px; }
      .top-menu .menu span:after {
        content: "\f061";
        font-family: "FontAwesome"; }
    @media screen and (max-width: 991px) {
      .top-menu .menu {
        font-size: 30px; }
        .top-menu .menu li {
          margin: 10px 0; }
        .top-menu .menu a:hover {
          padding-left: 25px; }
        .top-menu .menu span {
          font-size: 20px; } }
    @media screen and (max-width: 767px) {
      .top-menu .menu {
        padding-top: 40px; } }
  .top-menu .contact-us {
    text-align: right; }
    .top-menu .contact-us strong {
      display: block;
      margin-bottom: 10px;
      font-size: 22px;
      color: #DA1F26; }
    @media screen and (max-width: 991px) {
      .top-menu .contact-us strong {
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .top-menu .contact-us {
        padding-bottom: 50px;
        text-align: left; } }
  .top-menu .social-links {
    right: 15px; }
    .top-menu .social-links ul, .top-menu .social-links li {
      display: inline-block;
      zoom: 1;
      *display: inline; }
    .top-menu .social-links ul {
      font-size: 0; }
    .top-menu .social-links li {
      display: inline-block;
      zoom: 1;
      *display: inline; }
      .top-menu .social-links li:last-child a {
        margin-right: 0; }
    .top-menu .social-links a, .top-menu .social-links svg {
      width: 52px;
      height: 60px; }
    .top-menu .social-links svg .border, .top-menu .social-links svg .bg {
      fill: transparent; }
    .top-menu .social-links svg .border {
      stroke: #FFF; }
    .top-menu .social-links svg .icon {
      fill: #FFF; }
    @media screen and (max-width: 991px) {
      .top-menu .social-links a, .top-menu .social-links svg {
        width: 40px;
        height: 46px; } }
  .top-menu.showed {
    top: 0;
    opacity: 1;
    z-index: 3000; }
  .top-menu.closing {
    top: -20px;
    opacity: 0; }

/**
 * -------------------------
 * @info Top banner
 * -------------------------
*/
.top-banner {
  position: absolute;
  width: 100%;
  height: 1260px;
  background: no-repeat;
  background-size: auto 1260px; }
  @media screen and (max-width: 991px) {
    .top-banner {
      width: 100%;
      height: 100%;
      min-height: 600px !important; } }

/**
 * -------------------------
 * @info Top info
 * -------------------------
*/
.top-info {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px !important;
  text-align: center; }
  .top-info .top-banner {
    display: none; }
    @media screen and (max-width: 991px) {
      .top-info .top-banner {
        background-size: cover; } }
  .top-info .info {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    margin-top: -30px;
    color: #000; }
    .top-info .info .title {
      margin: 0 0 20px 0; }
      .top-info .info .title strong {
        color: #821F6B; }
    .top-info .info .subtitle {
      margin: 0;
      font-family: "Raleway Light"; }
    @media screen and (max-width: 991px) {
      .top-info .info {
        display: block;
        text-align: center; }
        .top-info .info .row > div {
          width: 100%; }
        .top-info .info .title {
          font-size: 35px; }
        .top-info .info .subtitle {
          font-size: 25px; } }
  .top-info .scroll-more {
    position: absolute;
    width: 80px;
    height: 180px;
    left: 50%;
    bottom: 0;
    margin-left: -40px; }
    .top-info .scroll-more a, .top-info .scroll-more svg {
      width: 80px;
      height: 92px; }
    .top-info .scroll-more a, .top-info .scroll-more span {
      display: block; }
    .top-info .scroll-more a {
      position: absolute;
      top: 0; }
    .top-info .scroll-more span {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      font-size: 16px;
      line-height: 18px; }
    .top-info .scroll-more:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 1px;
      height: 88px;
      margin-left: -1px;
      background: #821F6B; }
  .top-info.has-banner .top-banner {
    display: block; }
  .top-info.has-banner .info, .top-info.has-banner .info .title, .top-info.has-banner .info .subtitle, .top-info.has-banner .info strong {
    color: #FFF; }
  .top-info.has-banner .scroll-more a {
    color: #FFF; }
  .top-info.has-banner .scroll-more svg > g {
    stroke: #FFF; }
  .top-info.has-banner .scroll-more:after {
    background: #FFF; }
  .top-info.services .top-banner {
    background-image: url("../img/bg/services.jpg"); }

/**
 * -------------------------
 * @info Page intro
 * -------------------------
*/
.page-intro {
  margin-bottom: 80px;
  overflow: hidden; }
  .page-intro .container > div {
    width: 50%;
    float: left; }
  .page-intro .container h1, .page-intro .container h2 {
    margin: 0; }
  .page-intro .container h3 {
    margin-top: 0; }
  .page-intro .container .wrapper {
    display: table;
    width: 100%;
    height: 550px;
    padding: 10%; }
    .page-intro .container .wrapper > div {
      display: table-cell;
      vertical-align: middle; }
      .page-intro .container .wrapper > div > *:last-child {
        margin-bottom: 0; }
      .page-intro .container .wrapper > div > .page {
        margin-top: 0; }
  @media screen and (max-width: 991px) {
    .page-intro .container > div {
      width: 100%;
      float: none; }
    .page-intro .container .wrapper {
      height: auto;
      padding: 6% 10%; }
      .page-intro .container .wrapper, .page-intro .container .wrapper > div {
        display: block; } }
  .page-intro .title .wrapper {
    background: #EEEFF1; }
    .page-intro .title .wrapper .page-title {
      color: #821F6B; }
    .page-intro .title .wrapper span {
      vertical-align: text-top; }
      .page-intro .title .wrapper span:after {
        content: "\f061";
        font-family: "FontAwesome";
        font-size: 25px; }
    @media screen and (max-width: 991px) {
      .page-intro .title .wrapper {
        text-align: center; }
        .page-intro .title .wrapper span {
          display: block; }
          .page-intro .title .wrapper span:after {
            content: "\f063"; } }
  .page-intro .resume .wrapper {
    margin-top: 50px;
    background: #821F6B;
    color: #FFF; }
    .page-intro .resume .wrapper .subtitle {
      color: #FFF; }
    @media screen and (max-width: 991px) {
      .page-intro .resume .wrapper {
        margin-top: 0; } }

/**
 * -------------------------
 * @info Successful cases
 * -------------------------
*/
.successful-cases .row > div {
  padding: 0; }
.successful-cases .item {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s; }
  .successful-cases .item .cover img {
    width: 100%;
    height: auto; }
  .successful-cases .item .project {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: no-repeat center center;
    background-size: cover;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
    html.no-touch.background-blend-mode .successful-cases .item .project {
      background-blend-mode: multiply; }
    html.no-touch.csstransitions .successful-cases .item .project {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .successful-cases .item .info {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 450px;
    padding: 40px;
    opacity: 0;
    z-index: 1;
    border: 1px solid #FFF;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
    .successful-cases .item .info p {
      margin-bottom: 0; }
    .successful-cases .item .info span {
      display: block;
      margin-bottom: -5px;
      font-size: 18px; }
    .successful-cases .item .info i {
      font-size: 30px; }
  .successful-cases .item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    opacity: 0;
    background: #821F6B;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
  html.touch .successful-cases .item {
    cursor: pointer; }
  .successful-cases .item:hover .project {
    background-color: rgba(130, 31, 107, 0.9); }
    html.no-touch.csstransitions .successful-cases .item:hover .project {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
  .successful-cases .item:hover .info {
    opacity: 1;
    z-index: 50; }
  .successful-cases .item:hover:before {
    opacity: .6; }
    html.no-touch.background-blend-mode .successful-cases .item:hover:before {
      opacity: 0; }
  .successful-cases .item.not-bg .info {
    opacity: 1;
    z-index: 50;
    border-color: transparent;
    font-family: "Raleway Bold";
    color: #821F6B; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .successful-cases .item .info {
      width: 350px;
      padding: 35px;
      font-size: 35px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .successful-cases .item .info {
      width: 300px;
      padding: 30px;
      font-size: 30px; } }
  @media screen and (max-width: 767px) {
    .successful-cases .item .info {
      width: 260px;
      height: 245px;
      padding: 20px; }
      .successful-cases .item .info, .successful-cases .item .info i {
        font-size: 24px; }
      .successful-cases .item .info span {
        font-size: 16px; } }

/**
 * -------------------------
 * @info Members list
 * -------------------------
*/
.members-list .row > div {
  padding: 0; }
.members-list .item {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s; }
  .members-list .item .cover img {
    width: 100%;
    height: auto; }
  .members-list .item .member, .members-list .item .member > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: no-repeat top center;
    background-size: cover;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .members-list .item .member > div {
    z-index: 100;
    opacity: 0; }
  .members-list .item .info {
    display: block;
    position: absolute;
    width: 450px;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 200;
    opacity: 0;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
    .members-list .item .info > div {
      padding: 40px;
      background: rgba(130, 31, 107, 0.75); }
    .members-list .item .info p {
      margin-bottom: 0; }
    .members-list .item .info span {
      display: block;
      font-size: 18px; }
  html.touch .members-list .item {
    cursor: pointer; }
  .members-list .item:hover .member > div, .members-list .item:hover .info {
    opacity: 1; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .members-list .item .info {
      width: 350px;
      font-size: 35px; }
      .members-list .item .info > div {
        padding: 35px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .members-list .item .info {
      width: 300px; }
      .members-list .item .info > div {
        padding: 30px; } }
  @media screen and (max-width: 767px) {
    .members-list .item .info {
      width: 260px; }
      .members-list .item .info, .members-list .item .info i {
        font-size: 24px; }
      .members-list .item .info span {
        font-size: 16px; }
      .members-list .item .info > div {
        padding: 20px; } }
  @media screen and (max-width: 600px) {
    .members-list .item .info {
      width: 100%;
      padding: 0 30px; } }
@media screen and (min-width: 600px) and (max-width: 767px) {
  .members-list .row [class*='col-'] {
    width: 50%; } }

/**
 * -------------------------
 * @info Services list
 * -------------------------
*/
.services-list {
  margin-bottom: 80px; }
  .services-list .row > [class*='col-'] {
    padding: 0;
    vertical-align: top;
    background: #FFF; }
  .services-list .row:nth-child(odd) > [class*='col-']:first-child, .services-list .row:nth-child(even) > [class*='col-']:last-child {
    background: #EEEFF1; }
    .services-list .row:nth-child(odd) > [class*='col-']:first-child .name, .services-list .row:nth-child(even) > [class*='col-']:last-child .name {
      color: #821F6B; }
    .services-list .row:nth-child(odd) > [class*='col-']:first-child .icon svg polygon, .services-list .row:nth-child(even) > [class*='col-']:last-child .icon svg polygon {
      stroke: #821F6B; }
    .services-list .row:nth-child(odd) > [class*='col-']:first-child .icon svg path, .services-list .row:nth-child(odd) > [class*='col-']:first-child .icon svg .arrows, .services-list .row:nth-child(even) > [class*='col-']:last-child .icon svg path, .services-list .row:nth-child(even) > [class*='col-']:last-child .icon svg .arrows {
      fill: #821F6B; }
  @media screen and (max-width: 767px) {
    .services-list .row > [class*='col-']:first-child {
      background: #EEEFF1 !important; }
      .services-list .row > [class*='col-']:first-child .name {
        color: #821F6B !important; }
      .services-list .row > [class*='col-']:first-child .icon svg polygon {
        stroke: #821F6B !important; }
      .services-list .row > [class*='col-']:first-child .icon svg path, .services-list .row > [class*='col-']:first-child .icon svg .arrows {
        fill: #821F6B !important; }
    .services-list .row > [class*='col-']:last-child {
      background: #FFF !important; }
      .services-list .row > [class*='col-']:last-child .name {
        color: #DA1F26 !important; }
      .services-list .row > [class*='col-']:last-child .icon svg polygon {
        stroke: #DA1F26 !important; }
      .services-list .row > [class*='col-']:last-child .icon svg path, .services-list .row > [class*='col-']:last-child .icon svg .arrows {
        fill: #DA1F26 !important; } }
  .services-list .item {
    padding: 70px;
    text-align: center; }
    .services-list .item > *:last-child {
      margin-bottom: 0; }
    .services-list .item > .page {
      margin-top: 0; }
    .services-list .item .name {
      color: #DA1F26; }
    .services-list .item .icon svg {
      width: 139px;
      height: 156px; }
      .services-list .item .icon svg polygon {
        stroke: #DA1F26; }
      .services-list .item .icon svg path, .services-list .item .icon svg .arrows {
        fill: #DA1F26; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .services-list .item {
        padding: 60px; }
        .services-list .item .name {
          font-size: 30px; } }
    @media screen and (max-width: 767px) {
      .services-list .item {
        padding: 35px 20px; }
        .services-list .item .name {
          font-size: 25px; }
        .services-list .item .icon svg {
          width: 74px;
          height: 82px; } }
  @media screen and (max-width: 767px) {
    .services-list {
      margin-bottom: 60px; }
      .services-list .container {
        padding: 0; }
      .services-list .display-as-table > div {
        margin-top: 0; } }

.services-info {
  padding: 80px 0;
  background: #000;
  color: #FFF; }
  .services-info .title {
    margin-top: 0;
    color: #DA1F26; }
  .services-info .info {
    padding-right: 16.66667%; }
  .services-info svg {
    max-width: 563px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .services-info .title {
      font-size: 35px; }
    .services-info .info {
      padding-right: 0; } }
  @media screen and (max-width: 767px) {
    .services-info {
      padding: 60px 0; }
      .services-info .info {
        padding-right: 0; } }

/**
 * -------------------------
 * @info Contact ways
 * -------------------------
*/
.contact-ways {
  padding-top: 80px;
  background: rgba(238, 239, 241, 0.3); }
  .contact-ways .ways {
    overflow: hidden; }
    .contact-ways .ways span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 450px;
      padding: 40px 0;
      border: 1px solid #FFF;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      color: #FFF; }
    .contact-ways .ways i {
      font-size: 30px; }
    .contact-ways .ways .item {
      display: block;
      position: relative;
      width: 50%;
      float: left;
      overflow: hidden; }
      .contact-ways .ways .item .bg {
        width: 100%;
        height: 550px;
        background: no-repeat center center;
        background-size: cover;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
      .contact-ways .ways .item.contact-us .bg {
        background-image: url("../img/bg/contact-us.jpg"); }
      .contact-ways .ways .item.join-us .bg {
        background-image: url("../img/bg/join-us.jpg"); }
      .contact-ways .ways .item:hover .bg {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .contact-ways .ways span {
        width: 350px;
        padding: 35px 0;
        font-size: 35px; }
      .contact-ways .ways .item .bg {
        height: 500px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .contact-ways .ways span {
        width: 300px;
        padding: 30px 0;
        font-size: 30px; }
      .contact-ways .ways .item .bg {
        height: 450px; } }
    @media screen and (max-width: 767px) {
      .contact-ways .ways span {
        width: 300px;
        padding: 30px 0;
        font-size: 30px; }
      .contact-ways .ways .item {
        width: 100%;
        float: none; }
        .contact-ways .ways .item .bg {
          height: 220px; } }
  @media screen and (max-width: 767px) {
    .contact-ways {
      padding-top: 50px; } }

/**
 * -------------------------
 * @info Footer
 * -------------------------
*/
#footer {
  background: #000;
  color: #FFF; }
  #footer ul, #footer li {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  #footer ul {
    font-size: 0; }
  #footer li {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  #footer .container {
    position: relative;
    height: 100px; }
    #footer .container > div {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  #footer .copyright {
    width: 100%;
    padding-right: 300px; }
  #footer .social-links {
    right: 15px; }
    #footer .social-links a, #footer .social-links svg {
      width: 35px;
      height: 40px; }
    #footer .social-links svg .border, #footer .social-links svg .bg {
      fill: transparent; }
    #footer .social-links svg .border {
      stroke: #FFF; }
    #footer .social-links svg .icon {
      fill: #FFF; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    #footer {
      font-size: 16px; }
      #footer .social-links li:last-child a {
        margin-right: 0; } }
  @media screen and (max-width: 767px) {
    #footer {
      padding: 60px 0 50px 0;
      font-size: 14px;
      text-align: center; }
      #footer .container {
        height: auto; }
        #footer .container > div {
          position: relative;
          top: 0;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); }
      #footer .copyright {
        padding-right: 0; }
      #footer .social-links {
        right: 0;
        margin-top: 20px; } }
