//
// _alerts.scss
//
// It reflects the styles for the alerts
//

/**
 * -------------------------
 * @info Alert
 * -------------------------
*/
.alert {
  position: relative; margin-bottom: $desired-space-height - 5; padding: 10px 15px; border: 2px solid transparent; border-radius: 0; font-size: $font-size-base - 4; line-height: $font-size-base; font-weight: 400; text-align: left; text-transform: uppercase;
  a {text-decoration: underline;}
  .icon, .close {position: absolute; @include vertical-middle;}

  // Icon
  .icon {display: none; width: 45px; height: 45px; left: 15px; background: no-repeat; background-size: 45px 45px;}  

  // Info
  .info {width: 100%;}

  // Close button
  .close {
    display: none; position: absolute; @include vertical-middle; right: 20px; padding: 3px; opacity: .2; background: none; border: none; cursor: pointer; font-size: $font-size-base + 4; line-height: $font-size-base + 4; text-align: center; color: #3F3D3D;

    // States
    &:hover {opacity: 1;}
  }

  // States
  &.has-icon {
    padding-left: 80px;
    .icon {display: block;}
    .info {display: table-cell; height: 45px; vertical-align: middle;}
  }
  &.has-close {
    padding-right: 60px;
    .close {display: block;}
  }

  // Responsive rules
  @include breakpoint($xs){
    font-size: $font-size-base - 2;
    .icon, .close {top: 0; @include transform(translateX(0));}
    .icon {position: relative; left: 0; margin: 0 auto;}    
    .info {text-align: center;}
    

    // States
    &.has-icon, &.has-close {
      padding: 10px 15px;}
    &.has-icon {      
      .icon {margin-bottom: 10px;}
      .info {display: block; height: inherit;}
    }    
    &.has-close {
      .info {padding: 10px 0;}
      .close {top: 5px; right: 5px;}
    }
    &.has-icon.has-close {
      .info {padding: 0;}
    }    
  }
}

/**
 * -------------------------
 * @info Alert variants
 * -------------------------
*/
.alert-error {
  @include alert-variant($alert-error-bg, $alert-error-border, $alert-error-color, $alert-error-highlight-color);
  .icon {background-image: url("../img/icons/error.png");}
}
.alert-success {
  @include alert-variant($white, $alert-success-border, $alert-success-color, $alert-success-highlight-color);
  .icon {background-image: url("../img/icons/success.png");}
}