//
// _breadcrumbs.scss
//
// It reflects the styles for the breadcrumbs
//

/**
 * -------------------------
 * @info Breadcrumbs
 * -------------------------
*/
.breadcrumb {
	margin-bottom: $desired-space-height + 15;
	ol, li {@include remove-list-style();}
	ol {
		background-color: $breadcrumb-bg; border-radius: 3px; font-size: 0;

	  > li {
	  	@include in-block(); font-size: $font-size-base - 4;
	    & + li:before {padding: 0 4px; content: "»"}
	    & + li:before {color: $breadcrumb-color;}
	    &.active {color: $breadcrumb-active-color;}
	 	a {color: $breadcrumb-color; text-decoration: none;}
	  }
	}

	// Alert present
	+ .container .alert {margin-top: $desired-space-height + 10;}
}
