//
// _calendars.scss
//
// It reflects calendars styles for entire project
//

/**
 * -------------------------
 * @info Datepicker 
 * -------------------------
*/
.ui-datepicker {
	width: 300px; border: 0; padding: 15px; background: $datepicker-wrapper-bg; @include rounded(3px); @include box-shadow(0px 0px 5px rgba($black, .5)); font-family: $font-family-base; font-size: $font-size-base - 2; font-weight: 400; z-index: 1500 !important;
	
	// Wrapper
	.datepicker-wrapper {margin: 5px 0; padding: 0px; border: none; background: $datepicker-wrapper-bg;}

	// Header
	.ui-datepicker-header {
		height: 32px; margin-bottom: 10px; padding: 0; @include rounded(0); background: $datepicker-header-bg; border: none; font-size: $font-size-base;
		&, a {color: $main-color;}
		a {
			width: 32px; height: 32px; top: 0; margin-top: 0; @include rounded(0); background: none; border: none; cursor: pointer; text-decoration: none; text-align: center; color: #F56D5F;			
			span {visibility: hidden}

			// Content
			&.ui-datepicker-prev:before {content: "\f104";}
			&.ui-datepicker-next:before {content: "\f105";}
			&:before {display: block; width: 30px; height: 30px; border: 1px solid #F56D5F; @include rounded(50%); font-family: "FontAwesome"; font-size: $font-size-base; line-height: 30px;}

			// Controls
			&.ui-datepicker-prev {left: 0;}
			&.ui-datepicker-next {right: 0;}			
		}
		.ui-datepicker-title {font-weight: 400; text-transform: uppercase; line-height: 32px;}	
	}

	// Calendar
	.ui-datepicker-calendar {
		border-collapse: collapse;

		// Disabled days
		.ui-state-disabled {
			background: $datepicker-disabled-day-bg; @include opacity(1);
			span {color: $datepicker-disabled-day-color;}
		}

		// Names of the days
		thead th {padding: 5px 5px 10px 5px; background: $datepicker-days-header-bg; border: none; font-weight: 400; color: $datepicker-days-header-color; text-align: center;}

		// Days
		tbody td {
			padding: 0; border: 1px solid $datepicker-border; background: $white;
			.ui-state-default {font-weight: 400; border: none;}
			span, a {padding: 5px; text-align: center;}
			a {
				background: none; color: $main-color; font-weight: 400;
				
				// States
				&:hover {background: $datepicker-day-hover-bg; border-color: $datepicker-day-hover-border; color: $datepicker-day-hover-color;}
				&.ui-state-highlight {
					background: $datepicker-day-highlight-bg; border-color: $datepicker-day-highlight-border; color: $datepicker-day-highlight-color;
					&:hover {border-color: $datepicker-day-hover-highlight-border; color: $datepicker-day-hover-highlight-color;}
				}
				&.ui-state-active {background: $datepicker-day-active-bg; border-color: $datepicker-day-active-border; color: $datepicker-day-active-color;}
			}
		}
	}		
}