 //
// _navs.scss
//
// It reflects the styles for the navigations
//

/**
 * -------------------------
 * @info Tabs
 * -------------------------
*/
.tabs-wrapper {
	.tabs-content .tab-pane {display: none;}
	.tab.active {cursor: pointer;}
}

/**
 * -------------------------
 * @info Tabs navigation
 * -------------------------
*/
.tabs-nav {position: relative; z-index: 100;}
.tabs-nav, .tabs-content {

	// Responsive rules
	@include breakpoint($xs){display: none;}
}

/**
 * -------------------------
 * @info Tab
 * -------------------------
*/
.tab {
	display: block; width: 100%; margin-bottom: -1px; border: 0px solid transparent; border-bottom: 0px solid $tab-common-border; border-top: none; text-decoration: none;
	span {
		display: block; position: relative; padding: 10px 25px; overflow: hidden; font-size: $font-size-base + 2; white-space: nowrap; text-overflow: ellipsis; text-align: center; background: $white; @include rounded(0px); font-family: "Avant Demi";

		// Content
		&:after {content: ""; display: block; position: absolute; width: 0%; height: 3px; left: 50%; bottom: 0px; @include transform((translateX(-50%))); background: $tab-top-border; @include transition(all .35s);}
	}

	// States
	&:hover {
		// color: $tab-hover-color;
		// span {background: darken(#EEE, 5%); border-top-color: $tab-hover-top-border;}
	}
	&.active {
		border-color: $tab-active-border; border-bottom-color: $tab-active-bottom-border; color: $tab-active-color;
		span {
			background: $white; border-bottom-color: #F2A432;

			// Content
			&:after {width: 100%;}
		}
	}

	// Responsive rules
	@include breakpoint($xs){
		span {padding: 10px; font-size: $font-size-base - 2;}
	}
}

/**
 * -------------------------
 * @info Tabs pane
 * -------------------------
*/
.tab-pane {
	padding: ($desired-space-height + 15) 0 0 0;

	// Tabs nav
	.tabs-nav {

		// Responsive rules
		@include breakpoint($xs){display: block;}
	}
}

/**
 * -------------------------
 * @info Responsive tabs
 * -------------------------
*/
.responsive-tabs {
	display: none; font-size: 0;
	> ul, > ul > li {@include remove-list-style;}
	> ul {margin-bottom: -20px;}
	> ul > li {margin-bottom: 20px;}

	// Tab
	.tab {
		display: block; margin: 0;
		span {background: url("../img/icons/right-arrow-tab.png") no-repeat 96% center #F9F9F9; @include image-2x("../img/icons/right-arrow-tab2x.png", 6px, 12px);}

		// States
		&:hover span {background-color: #F6F6F6}
		&.active {
			span {background: url("../img/icons/bottom-arrow-tab.png") no-repeat 96% center #FAFAFA; @include image-2x("../img/icons/bottom-arrow-tab2x.png", 12px, 5px);}
			+ .info {display: block;}
		}		
	}

	// Info
	> ul > li > .info {display: none; padding: ($desired-space-height) 0 5px 0; font-size: $font-size-base;}

	// Responsive rules
	@include breakpoint($xs){display: block;}
}