//
// _tables.scss
//
// It reflects the styles for the tables
//

/**
 * -------------------------
 * @info Common generic table styles
 * -------------------------
*/
table {
	background-color: $table-bg; border-spacing: 0; border-collapse: collapse;
	th {text-align: left;}
}

/**
 * -------------------------
 * @info Table
 * -------------------------
*/
.table {
  width: 100%; max-width: 100%; margin-bottom: $desired-space-height + 5;
  
  // Cells
  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {padding: $table-cell-padding; vertical-align: middle; border-top: 1px solid $table-border-color; border-bottom: 1px solid $table-border-color; font-size: $font-size-base - 2; line-height: $line-height-base; color: $table-color;}
    }
  }
  
  // Bottom align for column headings
  > thead > tr > th {vertical-align: middle; background-color: $table-head-bg; border-bottom: 1px solid $table-border-color;}
  
  // Remove top border from thead by default
  > thead:first-child {
    > tr:first-child {
      > th, > td {padding-top: 0; border-top: 0; border-bottom: 2px solid $table-head-border-color;}
    }
  }
  
  // Account for multiple tbody instances
  > tbody + tbody {border-top: 2px solid $table-border-color;}
}

/**
 * -------------------------
 * @info Table compact
 * -------------------------
*/
.table-compact {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {padding: $table-condensed-cell-padding;}
    }
  }
}

/**
 * -------------------------
 * @info Table bordered
 * -------------------------
*/
.table-bordered {
  border: 1px solid $table-border-color;
  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {border: 1px solid $table-border-color;}
    }
  }
  > thead > tr {
    > th, > td {border-bottom-width: 2px;}
  }
}

/**
 * -------------------------
 * @info Table striped
 * -------------------------
*/
.table-striped {
  > tbody > tr:nth-child(even) {background-color: $table-bg-zebra;}
}

/**
 * -------------------------
 * @info Table hover
 * -------------------------
*/
.table-hover {
  > tbody > tr:hover {background-color: $table-bg-hover;}
}