//
// _typography.scss
//
// It reflects the styles for the typography
//

// Google fonts
$google-fonts: false;
@if $google-fonts == true {

	/**
	 * -------------------------
	 * @info  Get Google Web Fonts
	 * @see   Google Web Fonts
	 * http://www.google.com/webfonts/
	 * -------------------------
	*/
	@import "//fonts.googleapis.com/css?family=Rubik:500,400,700";
}

// Font face fonts
$font-face-fonts: true;

// Icon font family
$icon-font: true;

// See: http://fortawesome.github.io/Font-Awesome/
@import "vendor/font-awesome.min.css";

@if $font-face-fonts == true {

	/**
	 * -------------------------
	 * @info  Set Font Face Fonts
	 * -------------------------
	*/
	@include font-face("Raleway Light", "raleway-light", 300);
	@include font-face("Raleway Regular", "raleway-regular", 400);
	@include font-face("Raleway Bold", "raleway-bold", 800);
	@if $icon-font == true {
		@include font-face("FontAwesome", "fontawesome");
	}	
}

/**
 * -------------------------
 * @info Typography
 * -------------------------
*/
%arial, .arial {font-family: $font-family-callback;}
.raleway-light {font-family: "Raleway Light";}
.raleway-regular {font-family: "Raleway Regular";}
.raleway-bold {font-family: "Raleway Bold";}

// Icon font family
$custom-icon-font: false;
@if $custom_icon-font == true {
	%nicefont, .nicefont {font-family: $font-family-icon;}
	.icon {  
	  &:before {vertical-align: middle; font-family: "Nicefont"; font-style: normal; font-variant: normal; text-transform: none; line-height: 1; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
	  &.icon-phone:before {content: "\50";}
	  &.icon-right-arrow:before {content: "\41";}
	  &.icon-down-arrow:before {content: "\42";}
	  &.icon-wp:before {content: "\77";}
	  &.icon-calendar:before {content: "\62";}
	  &.icon-chat:before {content: "\63";}
	  &.icon-download:before {content: "\64";}
	  &.icon-event:before {content: "\65";}
	  &.icon-fb-menu:before {content: "\46";}
	  &.icon-fb:before {content: "\66";}
	  &.icon-ig:before {content: "\69";}
	  &.icon-pr:before {content: "\70";}
	  &.icon-sk:before {content: "\73";}
	  &.icon-tw-menu:before {content: "\54";}
	  &.icon-tw:before {content: "\74";}
	  &.icon-whatsapp:before {content: "\6d";}
	  &.icon-yt-menu:before {content: "\59";}
	  &.icon-yt:before {content: "\79";}
	}	
}

/**
 * -------------------------
 * @info Text
 * -------------------------
*/
.text-removed {text-decoration: line-through;}
%text-left, .text-left {text-align: left;}
%text-center, .text-center {text-align: center;}
%text-right, .text-right {text-align: right;}
b, strong {font-family: "Raleway Bold"; font-weight: 800;}

/**
 * -------------------------
 * @info Headings
 * -------------------------
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {margin-top: $desired-space-height - 10; margin-bottom: $desired-space-height - 10; font-family: $headings-font-family; font-weight: 400; line-height: $headings-line-height; color: $headings-color;}
h1, h2, h3, .h1, .h2, .h3 {font-weight: 400;}
h1, .h1 {font-size: $font-size-h1;}
h2, .h2 {font-size: $font-size-h2;}
h3, .h3 {font-size: $font-size-h3;}
h4, .h4 {font-size: $font-size-h4;}
h5, .h5 {font-size: $font-size-h5;}
h6, .h6 {font-size: $font-size-h6;}

// Responsive rules
@include breakpoint($xs){
	h1, .h1 {font-size: 50px;}
	h2, .h2 {font-size: 30px;}
}

/**
 * -------------------------
 * @info Paragraphs
 * -------------------------
*/
p {margin: 0 0 $desired-space-height - 5;}
.lead {font-size: $font-size-base + 2; color: $lead-color;}
.small {font-size: $font-size-small;}

// Responsive rules
@include breakpoint($sm-only) {	
	.lead {font-size: $font-size-base;}
	.small {font-size: $font-size-small;}
}
@include breakpoint($xs){	
	.lead {font-size: $font-size-base - 2;}
	.small {font-size: $font-size-small - 2;}
}

/**
 * -------------------------
 * @info Lists
 * -------------------------
*/
// Unordered and ordered lists
ul, ol {
  margin-top: $desired-space-height - 15; margin-bottom: $desired-space-height - 15; padding-left: $desired-space-height;
  ul, ol {margin-top: $desired-space-height; margin-bottom: $desired-space-height;}
  li {margin-top: 0; margin-bottom: 0} 
}

/**
 * -------------------------
 * @info Links
 * -------------------------
*/
a {
	color: $link-color; text-decoration: underline;

	// States
	&:hover {color: $link-hover-color;}
	&.text-decoration-hover {
		text-decoration: none;
		&:hover {text-decoration: underline;}
	}

	// Types
	&.highlighted-link {
		color: $alizarin;

		// States
		&:hover {color: darken($alizarin, 10%);}
	}
	&.delete-item {
		display: block; width: 30px; height: 30px; border: 1px solid #BDBDBD; @include rounded(50%); color: #BDBDBD; font-size: $font-size-base + 2; line-height: 28px; text-align: center;

		// States
		&:hover {border-color: darken(#BDBDBD, 10%); color: darken(#BDBDBD, 10%)}
	}
}

/**
 * -------------------------
 * @info Code
 * -------------------------
*/
code, kbd, pre, samp {font-family: Monospace, serif; font-size: $font-size-base; @include hyphens(none);}
pre {margin: $desired-space-height 0; overflow: auto; padding: 0 20px; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}

/**
 * -------------------------
 * @info Code
 * -------------------------
*/
blockquote {
	margin: $desired-space-height; padding: $desired-space-height - 20; background: $blockquote-bg; border-left: 5px solid $blockquote-border; font-size: $font-size-base - 2; font-style: italic; font-weight: 300; color: $blockquote-color; text-align: right; @include remove-child-margin-bottom();
	&, q {
		@include hyphens(none); quotes: none;

		// States
		&:before, &:after {content: ""; content: none;}
	}
	blockquote {margin-right: 0}
	cite, small {font-size: $font-size-base - 6; font-weight: normal; text-transform: uppercase;}
	em, i {font-style: normal; font-weight: 300;}
	strong, b {font-weight: 400;}
}