//
// _utilities.scss
//
// It reflects utilities for entire project
//

/**
 * -------------------------
 * @section Generals
 * -------------------------
*/
// Position
%ps-left {left: 0;}
%ps-right {right: 0;}
%vamiddle, .vamiddle {top: 50%; @include transform(translateY(-50%));}

// Border
.no-border, %no-border {border: none !important;}
.no-border-top, %no-border-top {border-top: none !important;}
.no-border-left, %no-border-left {border-left: none !important;}
.no-border-right, %no-border-right {border-right: none !important;}
.no-border-bottom, %no-border-bottom {border-bottom: none !important;}

// Margin
.no-margin, %no-margin {margin: 0px !important;}
.no-margin-right, %no-margin-right {margin-right: 0px !important;}
.no-margin-left, %no-margin-left {margin-left: 0px !important;}
.no-margin-bottom, %no-margin-bottom {margin-bottom: 0px !important;}
.no-margin-top, %no-margin-top {margin-top: 0px !important;}

// Padding
.no-padding, %no-padding {padding: 0px !important;}
.no-padding-top, %no-padding-top {padding-top: 0px !important;}
.no-padding-left, %no-padding-left {padding-left: 0px !important;}
.no-padding-right, %no-padding-right {padding-right: 0px !important;}
.no-padding-bottom, %no-padding-bottom {padding-bottom: 0px !important;}

// Images
%no-bg {background: none !important;}

// Content
%remove-list-style {margin: 0; padding: 0; list-style-type: none;}